n8n-workflows/workflow_xz6TlJ9eQi59PUIe.json
{"updatedAt":"2025-11-05T20:11:49.000Z","createdAt":"2025-08-15T17:55:46.015Z","id":"xz6TlJ9eQi59PUIe","name":"My workflow 13","active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"0e610793-c070-4012-95fc-cdc7e49c0986","name":"Manual Trigger","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1072,128]},{"parameters":{"assignments":{"assignments":[{"id":"scan_start_time","name":"scan_start_time","value":"{{ $now }}","type":"string"}]},"options":{}},"id":"fd6b6ba1-afc5-4cf7-ae19-628577c63e85","name":"Set Scan Config","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,16]},{"parameters":{"url":"https://pam-stilling-feed.nav.no/api/v1/feed","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJuYXYudGVhbS5hcmJlaWRzcGxhc3NlbkBuYXYubm8iLCJraWQiOiI5YTY2OTc2MS1hMmFhLTQ2YjQtOWZkNi0yYTQ5YmNjZjJmNjUiLCJpc3MiOiJuYXYtbm8iLCJhdWQiOiJmZWVkLWFwaS12MiIsImlhdCI6MTc2MTIyMjg5NSwiZXhwIjoxNzY0MjQ2ODk1fQ.RmjyJO0TYPQE30GrwWA-RZQoV3AVRXg2ZUYFPajEPNU"},{"name":"Accept","value":"application/json"},{"name":"If-Modified-Since","value":"={{ $now.minus({ days: 1 }).toUTC().toHTTP() }}"}]},"options":{"timeout":30000}},"id":"3cd69e4f-e54f-4ed3-b249-8283168d73a0","name":"Scrape NAV Jobs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,16],"alwaysOutputData":false},{"parameters":{"functionCode":"/**\n * Transform NAV Jobs — derive posted_date from feed (no details API)\n * Фільтрує ACTIVE + цільові міста, збирає поля, обчислює posted_date з фіда.\n */\n\nconst items = $input.all();\nconst out = [];\n\n// ваші міста (залишаю як було)\nconst targetCities = [\n  'ØSTRE TOTEN', 'ØSTRE-TOTEN', 'ØSTRE_TOTEN',\n  'VESTRE TOTEN', 'VESTRE-TOTEN', 'VESTRE_TOTEN',\n  'GJØVIK', 'GJOVIK'\n];\n\nfunction toDateOnly(v) {\n  if (!v) return '';\n  const s = String(v);\n  return s.includes('T') ? s.split('T')[0] : s.slice(0, 10);\n}\n\nfor (const item of items) {\n  const feedItems = item.json.items || item.json || [item.json];\n\n  for (const f of feedItems) {\n    const e = f._feed_entry || f.entry || f;\n    if (!e) continue;\n\n    // тільки активні + потрібні міста\n    if (e.status !== 'ACTIVE') continue;\n    if (!targetCities.includes(e.municipal)) continue;\n\n    // кандидати дати публікації з фіда\n    const postedCandidate =\n      f.date_published ||\n      e.published ||\n      e.firstPublished ||\n      e.adPublished ||\n      f.date_modified ||\n      e.updated ||\n      e.sistEndret ||\n      '';\n\n    const job = {\n      title: e.title || f.title || '',\n      company: e.businessName || e.employer?.name || '',\n      location: e.municipal || e.location || '',\n      url: `https://pam-stilling-feed.nav.no${f.url}`,\n      source: 'NAV',\n      status: e.status,\n      posted_date: toDateOnly(postedCandidate),\n      scraped_at: new Date().toISOString(),\n      uuid: e.uuid || e.id || '',\n      description: f.content_text || e.description || '',\n      application_url: e.applicationUrl || ''\n    };\n\n    out.push({ json: job });\n  }\n}\n\nreturn out;\n"},"id":"5c330669-7310-4680-9a0e-58ae8455e9f2","name":"Transform NAV Jobs","type":"n8n-nodes-base.function","typeVersion":1,"position":[240,16]},{"parameters":{"functionCode":"const items = $input.all();\nconst jobs = [];\nfor (const item of items) {\n  try {\n    const htmlContent = item.json.data || '';\n    const pattern = /href=\"(https?:\\/\\/[^\"]*finnkode=\\d+)\"/gi;\n    const matches = [...htmlContent.matchAll(pattern)];\n    for (const match of matches) {\n      let url = match[1];\n      if (!url.startsWith('http')) {\n        url = 'https://www.finn.no' + (url.startsWith('/') ? '' : '/') + url;\n      }\n      const codeMatch = url.match(/finnkode=(\\d+)/);\n        if (codeMatch) {\n          const finnkode = codeMatch[1];\n          jobs.push({\n            title: 'Job ' + finnkode,\n            company: 'Finn Company',\n            location: 'Norway',\n            url,\n            source: 'Finn',\n            posted_date: new Date().toISOString().split('T')[0],\n            scraped_at: new Date().toISOString(),\n            finnkode: finnkode\n          });\n        }\n    }\n  } catch (e) {\n    // Error ignored\n  }\n}\nreturn jobs;"},"id":"d458975d-d692-4eaf-b2c7-add8f784d50a","name":"Transform Finn Jobs","type":"n8n-nodes-base.function","typeVersion":1,"position":[-576,256]},{"parameters":{},"id":"a5a82a06-1715-4546-98ba-ca2589020532","name":"Merge Job Results","type":"n8n-nodes-base.merge","typeVersion":3,"position":[2800,288]},{"parameters":{"chatId":"374008445","text":"=Привіт! 👋 Я починаю роботу з пошуком релевантних вакансій.\n\n📊 Всього вакансій в базі: {{ $('Code2').first().json.total_jobs }}\n🆕 Нових сьогодні: {{ $('Code2').first().json.today_jobs }}\n   └ NAV: {{ $('Code2').first().json.nav_today }}\n   └ Finn: {{ $('Code2').first().json.finn_today }}\n\n🤖 Як закінчу аналіз вакансій, я пришлю повідомлення та короткий опис вакансій які мають високий рівень релевантності.\n\n🕒 Розпочато: {{ $now.format('HH:mm DD/MM/YYYY') }}","additionalFields":{"disable_notification":"={{ false }}","disable_web_page_preview":"={{ true }}"}},"id":"ee60cf71-55c8-4e4a-bd2e-03ddffe2c48c","name":"Send Scan Notification","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[5168,768],"webhookId":"541399c5-e328-434f-ac24-f7669eed7feb","credentials":{"telegramApi":{"id":"c8dqPyHVfYpEXDdR","name":"Telegram account"}}},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[544,16],"id":"c0ed8b6e-9324-4526-b575-78e3ac0460fd","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJuYXYudGVhbS5hcmJlaWRzcGxhc3NlbkBuYXYubm8iLCJraWQiOiI5YTY2OTc2MS1hMmFhLTQ2YjQtOWZkNi0yYTQ5YmNjZjJmNjUiLCJpc3MiOiJuYXYtbm8iLCJhdWQiOiJmZWVkLWFwaS12MiIsImlhdCI6MTc2MTIyMjg5NSwiZXhwIjoxNzY0MjQ2ODk1fQ.RmjyJO0TYPQE30GrwWA-RZQoV3AVRXg2ZUYFPajEPNU"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[912,80],"id":"5be7a435-a851-4d70-abe9-38b147d2790a","name":"HTTP Request1"},{"parameters":{"jsCode":"// Отримуємо дані з HTTP відповіді\nconst input = $input.first();\nconst apiData = input.json;\nconst adContent = apiData.ad_content;\n\nconsole.log('=== SUCCESS ===');\nconsole.log('Found description length:', adContent?.description?.length || 0);\nconsole.log('Found applicationUrl:', adContent?.applicationUrl ? 'YES' : 'NO');\n\n// Функція для очищення HTML та форматування\nfunction cleanHtmlDescription(htmlText) {\n  if (!htmlText) return '';\n  \n  let cleaned = htmlText\n    // Замінюємо заголовки на читабельний формат\n    .replace(/<strong>(.*?)<\\/strong>/gi, '\\n📋 $1\\n')\n    .replace(/<h[1-6][^>]*>(.*?)<\\/h[1-6]>/gi, '\\n📋 $1\\n')\n    \n    // Замінюємо списки на читабельний формат\n    .replace(/<ul[^>]*>/gi, '')\n    .replace(/<\\/ul>/gi, '\\n')\n    .replace(/<li[^>]*>(.*?)<\\/li>/gi, '• $1')\n    \n    // Замінюємо параграфи на розриви рядків\n    .replace(/<p[^>]*>/gi, '\\n')\n    .replace(/<\\/p>/gi, '\\n')\n    \n    // Замінюємо посилання на читабельний формат\n    .replace(/<a[^>]*href=[\"'](.*?)[\"'][^>]*>(.*?)<\\/a>/gi, '$2: $1')\n    \n    // Видаляємо всі інші HTML теги\n    .replace(/<[^>]*>/g, '')\n    \n    // Декодуємо HTML entities\n    .replace(/&amp;/g, '&')\n    .replace(/&#61;/g, '=')\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&quot;/g, '\"')\n    .replace(/&apos;/g, \"'\")\n    \n    // Прибираємо зайві пробіли та розриви рядків\n    .replace(/\\n\\s*\\n/g, '\\n\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .trim();\n    \n  return cleaned;\n}\n\n// Створюємо повну вакансію з API даних (ТІЛЬКИ РАЗ!)\nconst jobWithDetails = {\n  title: adContent?.title || 'No title',\n  company: adContent?.employer?.name || 'No company',\n  location: adContent?.workLocations?.[0]?.municipal || 'No location',\n  url: `https://pam-stilling-feed.nav.no/api/v1/feedentry/${apiData.uuid}`,\n  source: 'NAV',\n  posted_date: adContent?.published?.split('T')[0] || '2025-08-03',\n  scraped_at: new Date().toISOString(),\n  uuid: apiData.uuid,\n  description: cleanHtmlDescription(adContent?.description || ''), // ← ЗАСТОСОВУЄМО ОЧИЩЕННЯ\n  application_url: adContent?.applicationUrl || ''\n};\n\nconsole.log('Final job created with cleaned description!');\nconsole.log('Cleaned description length:', jobWithDetails.description.length);\n\nreturn jobWithDetails;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1088,80],"id":"c218846d-a193-41a4-b0a8-6b7c13593c5b","name":"Code"},{"parameters":{"jsCode":"// Отримуємо оброблений результат з Extract Job Description\nconst processedJob = $input.first().json;\n\nconsole.log('=== CODE FINN PROCESSING ===');\nconsole.log('Received job:', processedJob.title);\nconsole.log('Description length:', processedJob.description?.length || 0);\n\n// Перевірити чи є опис\nif (processedJob.description && processedJob.description !== 'Failed to extract') {\n  console.log('✅ Description found, using processed job data');\n  \n  // Повертаємо готовий об'єкт (просто передаємо далі)\n  return {\n    title: processedJob.title,\n    company: processedJob.company,\n    location: processedJob.location,\n    url: processedJob.url,\n    source: processedJob.source,\n    posted_date: processedJob.posted_date,\n    scraped_at: processedJob.scraped_at,\n    finnkode: processedJob.finnkode,\n    description: processedJob.description,\n    skyvern_status: processedJob.skyvern_status,\n    recording_url: processedJob.recording_url\n  };\n} else {\n  console.log('❌ No description found in processed job');\n  \n  // Повертаємо з помилкою\n  return {\n    ...processedJob,\n    description: 'Failed to extract description',\n    skyvern_status: 'failed'\n  };\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2464,464],"id":"88275a20-ac3b-4def-b9fe-9eb8329562f0","name":"CODE FINN"},{"parameters":{"url":"https://www.finn.no/job/search?extent=3947&extent=3942&job_duration=3951&job_duration=8099&job_duration=3954&job_duration=3659&job_duration=3952&job_duration=8901&location=2.20001.22034.20098&published=1","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-800,256],"id":"b7b2c953-f14b-4f9f-91be-153537646529","name":"Finn Search"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":"Jobs","mode":"name"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["url"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_date","displayName":"posted_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scraped_at","displayName":"scraped_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_processed","displayName":"is_processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"application_url","displayName":"application_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"finnkode","displayName":"finnkode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skyvern_status","displayName":"skyvern_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recording_url","displayName":"recording_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"score","displayName":"score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reasoning","displayName":"reasoning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recommendation","displayName":"recommendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"analyzed_at","displayName":"analyzed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ai_analysis","displayName":"ai_analysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[3344,864],"id":"afb0e112-41fc-4065-ac18-822cbad11e87","name":"Migrate Jobs to Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"http://skyvern-skyvern-1:8000/v1/run/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjQ4OTg0ODcwNDQsInN1YiI6Im9fNDIwMjM2MTExNjIyNTY1NTc0In0.aLM20qKy1DZnwWPiVmex4PeehYVJaxUdS7oVOuvA2DQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Navigate to this job posting page and extract the job title, company name, job location/city, and full job description. Look for these elements in the page content and extract them accurately.\",\n  \"url\": \"{{ $json.url }}\",\n  \"engine\": \"skyvern-1.0\",\n  \"wait_for_completion\": false,\n  \"title\": null,\n  \"proxy_location\": \"NONE\",\n  \"data_extraction_schema\": {\n    \"type\": \"object\",\n    \"properties\": {\n      \"title\": {\n        \"type\": \"string\",\n        \"description\": \"The job title or position name\"\n      },\n      \"company\": {\n        \"type\": \"string\", \n        \"description\": \"The company or employer name\"\n      },\n      \"location\": {\n        \"type\": \"string\",\n        \"description\": \"The job location, city, or workplace address\"\n      },\n      \"description\": {\n        \"type\": \"string\",\n        \"description\": \"The complete job description and requirements\"\n      }\n    },\n    \"required\": [\"title\", \"company\", \"location\", \"description\"]\n  }\n}","options":{"timeout":200000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1120,640],"id":"f20b9663-5680-4a26-b0ef-9fa2785170d6","name":"Skyvern: Run Task (Full Description)2"},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-352,336],"id":"3fd3c3a9-e380-4682-823d-6ed725069f0a","name":"Loop Over Items2"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const taskResult = $json;\n\nconsole.log('=== EXTRACT DEBUG ===');\nconsole.log('Status received:', taskResult.status);\n\nlet extractedData = {\n  title: 'Failed to extract',\n  company: 'Failed to extract', \n  location: 'Failed to extract',\n  description: 'Failed to extract'\n};\n\nif (taskResult.status === 'completed' && taskResult.extracted_information) {\n  const info = taskResult.extracted_information;\n  \n  extractedData = {\n    title: info.title || 'No title found',\n    company: info.company || 'No company found',\n    location: info.location || 'No location found', \n    description: info.description || 'No description found'\n  };\n  \n  console.log('✅ Extracted data:', extractedData);\n} else {\n  console.log('❌ Failed to extract - status:', taskResult.status);\n}\n\nconst url = taskResult.request?.url || '';\nconst finnkodeMatch = url.match(/finnkode=(\\d+)/);\nconst finnkode = finnkodeMatch ? finnkodeMatch[1] : 'unknown';\n\nreturn {\n  ...extractedData,\n  url: url,\n  source: 'Finn',\n  posted_date: new Date().toISOString().split('T')[0],\n  scraped_at: new Date().toISOString(),\n  finnkode: finnkode,\n  skyvern_status: taskResult.status === 'completed' ? 'success' : 'failed',\n  recording_url: taskResult.recording_url\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2496,656],"id":"c359d95c-2c55-4bff-b1b6-3a9e01e97841","name":"Extract Job Description"},{"parameters":{"jsCode":"// Просто передаємо поточну вакансію далі без глобального накопичення\nconst currentJob = $input.first().json;\n\nconsole.log(`✅ Processing Finn job: ${currentJob.title}`);\nconsole.log(`📋 Finnkode: ${currentJob.finnkode}`);\nconsole.log(`📝 Description length: ${currentJob.description?.length || 0}`);\n\nreturn currentJob;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2960,768],"id":"3425a9d9-ebe4-41ca-b3fc-f580b8f30045","name":"Accumulate Finn Results"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1552,544],"id":"7ecf46fd-c073-4640-b537-ca910922c679","name":"Wait3","webhookId":"4c6f9f94-5301-4f3f-9819-e3423c99e594"},{"parameters":{"url":"=http://skyvern-skyvern-1:8000/api/v1/tasks/{{ $json.run_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjQ4OTg0ODcwNDQsInN1YiI6Im9fNDIwMjM2MTExNjIyNTY1NTc0In0.aLM20qKy1DZnwWPiVmex4PeehYVJaxUdS7oVOuvA2DQ"}]},"options":{"timeout":200000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2016,544],"id":"524eac70-68c6-416c-bf79-1722c87c0bb6","name":"Check Task Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"48ba351a-860b-4cd9-b93b-21c442811217","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals","name":"filter.operator.equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2224,672],"id":"fda70bc9-9b79-41b5-a4e0-014e539e729a","name":"Check If Complete"},{"parameters":{"jsCode":"const currentAttempt = ($json.attempt || 0) + 1;\nconst maxAttempts = 30; // 5 хвилин (30 × 10 секунд)\n\nconsole.log(`🔄 Attempt ${currentAttempt}/${maxAttempts} for task status check`);\n\nif (currentAttempt > maxAttempts) {\n  console.log('⏰ Task timeout after 5 minutes');\n  throw new Error('Task timeout after 5 minutes');\n}\n\nreturn {\n  ...$json,\n  attempt: currentAttempt\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1408,672],"id":"a228de40-8d5f-427c-8852-7adeca3bac74","name":"Add Attempt Counter1"},{"parameters":{"jsCode":"const skyvernResult = $('Skyvern: Run Task (Full Description)2').first().json;\nconst runId = skyvernResult.run_id;\n\nconsole.log('🔍 Checking status for run_id:', runId);\n\nreturn {\n  run_id: runId,\n  original_data: $json\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,544],"id":"b00b5d55-0c12-43d5-bf98-18dade4e244e","name":"Pass Run ID"},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Jobs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["url"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"posted_date","displayName":"posted_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scraped_at","displayName":"scraped_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"is_processed","displayName":"is_processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"application_url","displayName":"application_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"finnkode","displayName":"finnkode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skyvern_status","displayName":"skyvern_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recording_url","displayName":"recording_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"score","displayName":"score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"reasoning","displayName":"reasoning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recommendation","displayName":"recommendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"analyzed_at","displayName":"analyzed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"ai_analysis","displayName":"ai_analysis","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-1168,1360],"id":"a9ebc0f7-3f0c-412b-bfe5-7f323c42761b","name":"Insert Jobs to Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"/**\n * Compute Scan Stats — вчора/сьогодні, неопрацьовані й що аналізуємо зараз\n * Витягує:\n *  - jobs з ноди \"Build Job Index\"\n *  - analyzed_keys з ноди \"Build Analyzed Set\"\n * Розраховує:\n *  - yesterday (за scraped_date == вчора, унікально)\n *  - yesterday_unanalyzed (з учора не проаналізовані)\n *  - today_posted (за posted_date == сьогодні, унікально)\n *  - today_posted_unanalyzed\n *  - analyze_now = yesterday_unanalyzed + today_posted_unanalyzed (по джерелах)\n */\n\nfunction todayUTC() {\n  const d = new Date();\n  return d.toISOString().slice(0, 10); // YYYY-MM-DD\n}\nfunction shiftDateStr(ymd, days) {\n  const d = new Date(ymd + 'T00:00:00.000Z');\n  d.setUTCDate(d.getUTCDate() + days);\n  return d.toISOString().slice(0, 10);\n}\n\nconst jobs = $('Build Job Index').all().map(i => i.json);\nconst analyzed = $('Build Analyzed Set').first()?.json?.analyzed_keys || [];\nconst analyzedSet = new Set(analyzed);\n\nconst today = todayUTC();\nconst yesterday = shiftDateStr(today, -1);\n\n// helpers\nconst isNav  = j => (j.source_norm || j.source || '').toLowerCase().includes('nav');\nconst isFinn = j => (j.source_norm || j.source || '').toLowerCase().includes('finn');\n\n// yesterday by scraped_date\nconst yAll   = jobs.filter(j => j.scraped_date === yesterday);\nconst yNav   = yAll.filter(isNav);\nconst yFinn  = yAll.filter(isFinn);\n\n// yesterday unanalyzed by id_key\nconst yUn    = yAll.filter(j => !analyzedSet.has(j.id_key));\nconst yUnNav = yUn.filter(isNav);\nconst yUnFin = yUn.filter(isFinn);\n\n// today posted by posted_date == today\nconst tAll   = jobs.filter(j => j.posted_date === today);\nconst tNav   = tAll.filter(isNav);\nconst tFinn  = tAll.filter(isFinn);\n\n// today posted but not analyzed\nconst tUn    = tAll.filter(j => !analyzedSet.has(j.id_key));\nconst tUnNav = tUn.filter(isNav);\nconst tUnFin = tUn.filter(isFinn);\n\n// what we analyze now\nconst nowNav  = yUnNav.length + tUnNav.length;\nconst nowFinn = yUnFin.length + tUnFin.length;\n\nreturn [{\n  json: {\n    // для твого існуючого шаблону (якщо лишив старі поля)\n    total_jobs: jobs.length,\n    today_jobs: tUn.length,            // якщо в шаблоні це поле — хай показує \"сьогодні опубліковані й ще не аналізовані\"\n    nav_today:  tUnNav.length,\n    finn_today: tUnFin.length,\n\n    // повна статистика, яку ти хотів у повідомленні:\n    yesterday_total: yAll.length,\n    yesterday_nav:   yNav.length,\n    yesterday_finn:  yFinn.length,\n\n    yesterday_unanalyzed_total: yUn.length,\n    yesterday_unanalyzed_nav:   yUnNav.length,\n    yesterday_unanalyzed_finn:  yUnFin.length,\n\n    today_posted_total: tAll.length,\n    today_posted_nav:   tNav.length,\n    today_posted_finn:  tFinn.length,\n\n    today_posted_unanalyzed_total: tUn.length,\n    today_posted_unanalyzed_nav:   tUnNav.length,\n    today_posted_unanalyzed_finn:  tUnFin.length,\n\n    analyze_now_total: nowNav + nowFinn,\n    analyze_now_nav:   nowNav,\n    analyze_now_finn:  nowFinn,\n\n    // довідково\n    dates: { today, yesterday },\n  }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4880,1024],"id":"1703d663-e79e-473e-bf85-4da865e6ad17","name":"Code2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e5f2b893-7b1d-4a0c-a687-868c9f8e9d67","leftValue":"={{ $json.cache_found }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[832,592],"id":"11c94e3b-ec27-4beb-97f7-147bd6acddbe","name":"URL Already Processed?"},{"parameters":{"jsCode":"console.log('=== USE CACHED DATA DEBUG ===');\nconsole.log('Input data:', JSON.stringify($input.all(), null, 2));\n\n// Перевіряємо різні формати даних з Google Sheets\nlet cachedJob;\nconst inputData = $input.first().json;\n\nif (Array.isArray(inputData) && inputData.length > 0) {\n  // Якщо дані в масиві\n  cachedJob = inputData[0];\n} else if (inputData && inputData.url) {\n  // Якщо дані безпосередньо в об'єкті\n  cachedJob = inputData;\n} else {\n  console.error('❌ No cached data found');\n  throw new Error('No cached data found');\n}\n\nconsole.log('✅ Using cached data for:', cachedJob.url);\n\nreturn {\n  title: cachedJob.title || 'Cached Job',\n  company: cachedJob.company || 'Cached Company', \n  location: cachedJob.location || 'Cached Location',\n  description: cachedJob.description || 'Cached Description',\n  url: cachedJob.url,\n  source: 'Finn',\n  finnkode: cachedJob.finnkode,\n  skyvern_status: 'cached',\n  posted_date: cachedJob.posted_date || new Date().toISOString().split('T')[0],\n  scraped_at: new Date().toISOString()\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1040,464],"id":"14c2e821-4fc0-4e59-a4ea-0380fa206052","name":"Use Cached Data"},{"parameters":{"jsCode":"// Отримуємо результати з Google Sheets\nconst results = $input.all();\n\nconsole.log('=== URL CACHE DEBUG ===');\nconsole.log('Results count:', results.length);\nconsole.log('Results:', results);\n\n// Завжди повертаємо масив для IF ноди\nif (results.length === 0) {\n  console.log('No results found - returning empty array');\n  return [];\n} else {\n  console.log('Found results - passing through');\n  return results;\n}"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[624,592],"id":"171865d6-c00e-4997-9f92-32f3f5de0c46","name":"URL CACHE DEBUG"},{"parameters":{"jsCode":"// Отримуємо результати з Google Sheets\nconst sheetsResults = $input.all();\n\n// Отримуємо оригінальні дані вакансії з попередньої ноди\nconst originalJob = $('Loop Over Items2').item.json; // або $json якщо це перша нода після Loop\n\nconsole.log('=== CACHE CHECK ===');\nconsole.log('Original job URL:', originalJob.url);\nconsole.log('Sheets results count:', sheetsResults.length);\n\n// Перевіряємо чи знайдено ВАЛІДНІ дані в таблиці\nlet cache_found = false;\nlet cached_data = null;\n\nif (sheetsResults.length > 0) {\n  const firstResult = sheetsResults[0].json;\n  \n  // Перевіряємо що це не порожній об'єкт\n  if (firstResult && Object.keys(firstResult).length > 0 && firstResult.url) {\n    cache_found = true;\n    cached_data = firstResult;\n    console.log('✅ Valid cache found');\n  } else {\n    console.log('⚠️ Found empty row - ignoring');\n  }\n} else {\n  console.log('❌ No cache found');\n}\n\n// ВАЖЛИВО: повертаємо ВСІ оригінальні дані + інформацію про кеш\nreturn {\n  ...originalJob,  // Всі поля вакансії (url, title, company, тощо)\n  cache_found: cache_found,\n  cached_data: cached_data\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[400,592],"id":"d8c62fd3-805b-4778-bc01-443f011e789e","name":"Check URL Cache1"},{"parameters":{"documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"list","cachedResultName":"Job Scanner Database","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Jobs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"url","lookupValue":"={{ $json.url }}"},{"lookupColumn":"finnkode","lookupValue":"={{ $json.finnkode }}"}]},"combineFilters":"OR","options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[112,592],"id":"c323f4e3-f5eb-4bed-974e-360529b2b9d6","name":"Check URL in Sheets","alwaysOutputData":true,"credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[80,1264],"id":"8e7a02d7-6eac-42bf-8995-8b750988d87c","name":"Loop Over Items1"},{"parameters":{"jsCode":"/**\n * Extract Users Array — FULL\n * Вхід:  { users: [ { name, user_slug?, telegram_id, resume_folder_id }, ... ] }\n * Вихід: по одному item на користувача:\n *        { name, user_slug, telegram_id, resume_folder_id }\n */\n\nfunction slugify(s) {\n  return String(s || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n}\n\nconst input = $input.first()?.json ?? {};\nconst users = Array.isArray(input.users) ? input.users : [];\n\nif (!users.length) {\n  throw new Error('users[] is empty in Set User Profiles Config');\n}\n\nconst out = [];\n\nfor (const u of users) {\n  const name = (u.name ?? u.user_name ?? 'Unknown').toString().trim();\n  const user_slug =\n    (u.user_slug && String(u.user_slug).trim()) || slugify(name);\n\n  // Дозволяємо число або рядок, завжди приводимо до рядка\n  const telegram_id =\n    (u.telegram_id === null || u.telegram_id === undefined)\n      ? ''\n      : String(u.telegram_id).trim();\n\n  const resume_folder_id = String(u.resume_folder_id ?? '').trim();\n\n  out.push({\n    json: {\n      name,\n      user_slug,\n      telegram_id,\n      resume_folder_id,\n    },\n  });\n}\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-448,1552],"id":"f3291c28-8ffd-4de1-92a5-234c6168c6a0","name":"Extract Users Array"},{"parameters":{"jsCode":"// === Process All PDFs — V2 ===\n// Беремо список файлів із HTTP-вузла\nconst filesResp = $input.first()?.json ?? {};\nconst files = Array.isArray(filesResp.files) ? filesResp.files : [];\n\n// КОРЕКТНЕ джерело метаданих користувача\n// (беремо прямо з вузла \"Pass User Data\", а не з відповіді Drive)\nconst userData = $('Pass User Data').item.json ?? {};\n\nconst userName = userData.name || userData.user_name || 'Unknown';\nconst telegramId = userData.telegram_id || userData.user_telegram_id || '';\nconst folderId = userData.resume_folder_id || '';\n\nif (files.length === 0) {\n  console.log(`No PDF files found for user \"${userName}\" (folderId=${folderId || '—'})`);\n  return [];\n}\n\nconsole.log(`📁 Found ${files.length} PDF(s) for \"${userName}\" (folderId=${folderId || '—'})`);\n\nconst total = files.length;\n\n// Повертаємо КОЖЕН PDF як окремий item + проксійовані метадані користувача\nreturn files.map((f, i) => ({\n  json: {\n    file_id: f.id,\n    file_name: f.name,\n    // Проксійовані дані користувача\n    user_name: userName,\n    user_telegram_id: telegramId,\n    resume_folder_id: folderId,\n    // службові\n    resume_index: i + 1,\n    total_resumes: total,\n  },\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,2544],"id":"96d926b9-5581-4ac1-b55d-a749d7b86ca4","name":"Process All PDFs"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1392,2544],"id":"82593bc6-c6aa-47cf-8145-27e44073a370","name":"Download PDF","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{"method":"POST","url":"https://elvarika.openai.azure.com/openai/deployments/Elvarika-gpt-4o/chat/completions?api-version=2024-12-01-preview","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2224,2544],"id":"e59486ec-82c5-4902-9d35-eaac51cb045b","name":"AI Parse Resume","credentials":{"httpHeaderAuth":{"id":"ZJBoJZKJZ8pO6XQp","name":"Azure OpenAI Header "}}},{"parameters":{"jsCode":"// Збираємо всі резюме поточного користувача\nconst currentItem = $input.first().json;\nconst allItems = $input.all();\n\n// Отримуємо дані користувача з першого елемента\nconst userData = {\n  name: currentItem.user_name || 'Unknown',\n  telegram_id: currentItem.user_telegram_id || '',\n  folder_id: currentItem.resume_folder_id || ''\n};\n\n// Збираємо всі резюме в масив\nconst resumes = allItems.map((item, index) => ({\n  filename: item.json.file_name,\n  pages: item.json.pages || 1,\n  content: item.json.text || '',\n  file_id: item.json.file_id\n}));\n\nconsole.log(`📚 Зібрано ${resumes.length} резюме для ${userData.name}`);\n\n// Повертаємо об'єднані дані\nreturn {\n  currentUser: userData.name,\n  telegram_id: userData.telegram_id,\n  resumes: resumes,\n  total_files: resumes.length\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1776,2544],"id":"ec04908b-a4a9-4ecd-aa04-21d1e1438745","name":"Collect All User Resumes"},{"parameters":{"operation":"pdf","options":{"maxPages":3}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1584,2544],"id":"bb434b85-48d5-46f2-baa5-b44a35a9b0e7","name":"Extract Text from PDF"},{"parameters":{"jsCode":"// === Prepare Detailed AI Request (EN-instructions, expanded hard rules) ===\n\n// Input from previous node\nconst resumeData = $input.first().json;\nconst currentUser = resumeData.currentUser;\nconst resumes = Array.isArray(resumeData.resumes) ? resumeData.resumes : [];\n\n// Build a single literal corpus from all files (KEEP VERBATIM)\nconst detailedResumeText = resumes.map((resume, index) => {\n  const name =\n    resume.filename ||\n    resume.fileName ||\n    resume.name ||\n    `#${index + 1}`;\n  const pagesInfo =\n    typeof resume.pages !== 'undefined' && resume.pages !== null\n      ? `PAGES: ${resume.pages}\\n`\n      : '';\n  const fileIdInfo = resume.file_id ? `FILE_ID: ${resume.file_id}\\n` : '';\n  const content = (resume.content ?? '').toString();\n\n  return `=== RESUME ${index + 1} ===\nFILE: ${name}\n${pagesInfo}${fileIdInfo}FULL TEXT (COPY VERBATIM):\n${content}\n=== END RESUME ${index + 1} ===`;\n}).join('\\n\\n');\n\nconsole.log(`Processing ${resumes.length} files for ${currentUser}`);\nconsole.log(`Total input length: ${detailedResumeText.length} chars`);\n\n// STRICT RULES for the model (EN, tuned for weaker Azure deployments)\nconst HARD_RULES = `\nSTRICT INSTRUCTIONS (MANDATORY) — FOLLOW EXACTLY:\n\nGENERAL\n1) COPY VERBATIM: For ALL lists (SKILLS/TOOLS/TECHNOLOGIES/RESPONSIBILITIES/ACHIEVEMENTS/COURSES/CERTIFICATIONS/EDUCATION), copy each source line as a SEPARATE array element, in the EXACT original order. Preserve original language (NO/EN/UK/RU), spelling, punctuation, and casing (including ÆØÅ). Do NOT add, remove, or re-order words.\n2) DO NOT SUMMARIZE. DO NOT REPHRASE. DO NOT TRANSLATE. Keep original wording and casing exactly.\n3) DUPLICATES MUST REMAIN. Do NOT merge or drop duplicates. Do NOT normalize wording or casing.\n4) DO NOT INVENT missing data. If something is absent, leave fields empty \"\" or omit that array element.\n5) DATES: keep the exact source format. If months exist, keep them. If the token \"Nåværende\" or \"Present\" appears anywhere for a role, set endDate EXACTLY to that token (do NOT leave empty, do NOT replace with a month).\n6) ARRAYS: If a field is a list, output an array even for a single item (no scalar strings).\n7) TOP-LEVEL SCHEMA: Do NOT add any NEW top-level fields beyond the provided schema.\n\nWORK EXPERIENCE (PER ROLE)\n8) Create a separate object for EVERY role mentioned (including praksis/internship, part-time, volunteer, and Enkeltpersonforetak/self-employment). Do NOT merge roles.\n9) RESPONSIBILITIES: copy FULL lines as they appear in the source (including multi-line bullets). Do NOT shorten, tagify, or condense.\n10) ACHIEVEMENTS: copy verbatim when present. If none, leave [] (do NOT fabricate).\n11) technologiesUsed (PER ROLE): \n    11.1) If tools/technologies are mentioned inside or adjacent to a role section, include ALL of them verbatim for that role.\n    11.2) If tools are listed globally (outside a specific role), then:\n         - If the role’s text clearly indicates matching activities (e.g., \"utvikling\", \"koding\", \"SaaS\", \"AI-integrering\", \"PPC\", \"Stripe\") that align with those tools, you MAY duplicate the global tools into that role’s technologiesUsed.\n         - If no clear linkage exists, DO NOT guess; keep such tools only in technicalSkills.\n    11.3) NEVER rename tools. Keep exact strings like \"Azure OpenAI\", \"Zvukogram\", \"Claude\", \"Bolt.new\", \"React\", \"Vite\", \"TypeScript\", \"Tailwind CSS\", \"Supabase\", \"Expo\", \"Stripe\", \"Innovasjon Norge\", etc.\n    11.4) Duplicates across roles are allowed and must not be removed.\n\nTECHNICAL SKILLS\n12) Map ALL tool mentions to the corresponding subarrays (aiTools/programmingLanguages/frameworks/databases/cloudPlatforms/developmentTools/other). If unsure where to place an item, put it into \"other\". Keep exact strings and casing.\n13) Do NOT collapse multiple mentions into one; keep separate items if they differ even slightly.\n\nEDUCATION / LANGUAGES / CERTIFICATIONS / INTERESTS / SOFT SKILLS\n14) EDUCATION: Do NOT change institution names. If multiple spellings exist, include them as separate entries. Copy any accreditation text such as \"NOKUT-godkjent 2022\" VERBATIM into an existing field (e.g., degree or field). Do NOT create new fields.\n15) LANGUAGES: Keep names and levels EXACTLY (e.g., \"morsmål\", \"B1\"). Do NOT translate or rename.\n16) CERTIFICATIONS: Copy as objects with available fields (name, issuer, date, duration) VERBATIM. Do NOT fabricate missing fields.\n17) INTERESTS: Output as an ARRAY of separate items (do NOT collapse into a single string). Preserve original casing and wording from the source.\n18) SOFT SKILLS: Copy ALL mentioned soft skills verbatim (e.g., \"Agile/Scrum\", \"Smidig prosjektledelse\") without renaming or summarizing.\n\nVALIDATION / OUTPUT\n19) Keep field values as strings/arrays exactly as provided. No Markdown or code fences in output.\n20) If conflicting duplicates exist (e.g., differing spellings), include BOTH as separate items (do NOT choose one).\n21) Return ONLY valid JSON conforming to the schema below.\n`;\n\n// Return ONLY the valid request for Azure OpenAI (same parameters)\nreturn {\n  messages: [\n    {\n      role: \"system\",\n      content:\n        \"You are an expert HR analyst. Produce MAXIMALLY detailed professional profiles, extracting EVERY possible detail from resumes. NEVER summarize or rephrase lists of skills/responsibilities/technologies — copy them VERBATIM, preserving language, punctuation, casing, and order.\"\n    },\n    {\n      role: \"user\",\n      content:\n`TASK: Create the MOST DETAILED professional JSON profile for ${currentUser}\n\n${HARD_RULES}\n\nINPUT — ${resumes.length} FILES:\n${detailedResumeText}\n\nOUTPUT a DETAILED JSON profile STRICTLY FOLLOWING THE SCHEMA BELOW (copy lists VERBATIM, no changes, no code fences):\n\n{\n  \"personalInfo\": {\n    \"fullName\": \"\",\n    \"email\": \"\",\n    \"phone\": \"\",\n    \"website\": \"\",\n    \"address\": {\n      \"city\": \"\",\n      \"country\": \"\"\n    }\n  },\n  \"professionalSummary\": \"\",\n  \"workExperience\": [\n    {\n      \"company\": \"\",\n      \"position\": \"\",\n      \"startDate\": \"\",\n      \"endDate\": \"\",\n      \"responsibilities\": [],\n      \"achievements\": [],\n      \"technologiesUsed\": []\n    }\n  ],\n  \"technicalSkills\": {\n    \"aiTools\": [],\n    \"programmingLanguages\": [],\n    \"frameworks\": [],\n    \"databases\": [],\n    \"cloudPlatforms\": [],\n    \"developmentTools\": [],\n    \"other\": []\n  },\n  \"softSkills\": [],\n  \"languages\": [\n    {\n      \"language\": \"\",\n      \"proficiencyLevel\": \"\"\n    }\n  ],\n  \"education\": [\n    {\n      \"institution\": \"\",\n      \"degree\": \"\",\n      \"field\": \"\",\n      \"graduationYear\": \"\"\n    }\n  ],\n  \"certifications\": [],\n  \"interests\": [],\n  \"careerStats\": {\n    \"totalExperienceYears\": 0,\n    \"currentRole\": \"\",\n    \"industries\": []\n  },\n  \"location\": \"\",\n  \"preferredWorkFormat\": \"\"\n}\n\nReturn ONLY valid JSON.`\n    }\n  ],\n  max_tokens: 6000,\n  temperature: 0.2\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1968,2544],"id":"92ac82b0-2b88-4be4-bf0a-c92075c8b0af","name":"Prepare Detailed AI Request"},{"parameters":{"assignments":{"assignments":[{"id":"69b89329-0844-4804-a015-d9148f6a97f3","name":"user_name","value":"={{ $json.currentUser }}","type":"string"},{"id":"163954cd-96a7-499d-b408-b826169da0b3","name":"telegram_id","value":"={{ $json.telegram_id }}","type":"string"},{"id":"1589973b-dc40-45e4-8c8a-b76173d7c106","name":"files_processed","value":"={{ $json.total_files }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1888,2256],"id":"143414c8-ffd9-4ed2-b3f2-516cbb90ca86","name":"Store User Metadata"},{"parameters":{"jsCode":"// Отримуємо відповідь від Azure OpenAI\nconst aiResponse = $input.first().json;\n\n// Нормалізуємо message.content (може бути рядком або масивом частин у 2024-12-01-preview)\nlet content = aiResponse?.choices?.[0]?.message?.content ?? '';\nif (Array.isArray(content)) {\n  content = content\n    .map(p => (typeof p === 'string' ? p : (p?.text ?? '')))\n    .join('');\n}\n\n// Витягуємо JSON з markdown/тексту\nlet profileJson;\ntry {\n  try {\n    profileJson = JSON.parse(String(content).trim());\n  } catch (_) {\n    const fenced = String(content).match(/```(?:json)?\\s*([\\s\\S]*?)\\s*```/i);\n    if (fenced?.[1]) {\n      profileJson = JSON.parse(fenced[1].trim());\n    } else {\n      const s = String(content);\n      const start = s.indexOf('{');\n      const end = s.lastIndexOf('}');\n      if (start !== -1 && end !== -1 && end > start) {\n        profileJson = JSON.parse(s.slice(start, end + 1));\n      } else {\n        throw new Error('No JSON found');\n      }\n    }\n  }\n  console.log('✅ Успішно розпарсено профіль');\n} catch (error) {\n  console.error('❌ Помилка парсингу:', error);\n  profileJson = { error: 'Failed to parse profile' };\n}\n\n// Отримуємо метадані з попередніх нод (БЕЗ Store User Metadata)\nconst userData = $('Collect All User Resumes').first().json;\n\n// Формуємо профіль + метадані\nconst completeProfile = {\n  ...profileJson,\n  metadata: {\n    user_name: userData.currentUser || 'Unknown',\n    telegram_id: userData.telegram_id || '',\n    files_processed: userData.total_files || 0,\n    profile_created_at: new Date().toISOString()\n  }\n};\n\n// --- НОВЕ: генерація user_slug та імені файлу ---\nfunction toSlug(s) {\n  return String(s || 'unknown')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')   // прибрати діакритику\n    .replace(/[^a-zA-Z0-9]+/g, '_')                    // неалфанум → _\n    .replace(/_+/g, '_').replace(/^_+|_+$/g, '')       // зайві _\n    .toLowerCase();\n}\nconst baseName = completeProfile?.personalInfo?.fullName || userData.currentUser || 'unknown';\nconst user_slug = toSlug(baseName);\nconst file_name = `${user_slug}.profile.json`;\n\ncompleteProfile.user_slug = user_slug;\ncompleteProfile.file_name = file_name;\n\nconsole.log(`📋 Профіль створено для: ${completeProfile?.personalInfo?.fullName}`);\nconsole.log(`🗂️  user_slug: ${user_slug}, file_name: ${file_name}`);\nconsole.log(`📊 Досвід роботи: ${completeProfile?.careerStats?.totalExperienceYears} років`);\nconsole.log(`💼 Поточна позиція: ${completeProfile?.careerStats?.currentRole}`);\n\nreturn completeProfile;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2512,2560],"id":"b8d1437f-5ed8-47ee-8595-7cd92b9d3402","name":"Process AI Response"},{"parameters":{"jsCode":"/**\n * Save Profile to Static Data — FULL, directory-aware\n * Приймає або { profile: {...} }, або сам профіль.\n * Telegram ID та ім’я користувача підтягуємо зі staticData.userDirectory (який наповнює окрема нода).\n */\n\nfunction slugify(s) {\n  return String(s || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n}\n\nconst item = $input.first() ?? { json: {} };\nconst incoming = item.json ?? {};\n\n// Визначаємо профіль (дозволяємо як {profile:{...}}, так і плоский об’єкт)\nconst profile = (incoming.profile && typeof incoming.profile === 'object')\n  ? incoming.profile\n  : incoming;\n\n// Гарантуємо наявність metadata\nif (!profile || typeof profile !== 'object') {\n  throw new Error('Save Profile: invalid input profile');\n}\nprofile.metadata = (profile.metadata && typeof profile.metadata === 'object') ? profile.metadata : {};\n\n// Витягуємо ім’я\nconst fullName =\n  profile?.personalInfo?.fullName ||\n  profile?.metadata?.user_name ||\n  profile?.user_name ||\n  'Unknown';\n\n// Обчислюємо / визначаємо user_slug\nconst userSlug =\n  profile?.metadata?.user_slug ||\n  profile?.user_slug ||\n  slugify(fullName);\n\n// Підтягуємо directory з staticData\nconst staticData = $getWorkflowStaticData('global');\nconst directory = (staticData && typeof staticData.userDirectory === 'object') ? staticData.userDirectory : {};\n\n// Дані з довідника (якщо є)\nconst dirEntry = directory[userSlug] || {};\nconst dirName = dirEntry.name || '';\nconst dirTg   = (dirEntry.telegram_id || '').toString().trim();\n\n// Заповнюємо відсутні поля у metadata, не перетираючи існуючі\nif (!profile.metadata.user_name && (dirName || fullName)) {\n  profile.metadata.user_name = dirName || fullName;\n}\nif (!profile.metadata.user_slug && userSlug) {\n  profile.metadata.user_slug = userSlug;\n}\nif (!profile.metadata.telegram_id && dirTg) {\n  profile.metadata.telegram_id = dirTg;\n}\n\n// Фінальні значення для повернення\nconst retName = profile?.personalInfo?.fullName || profile?.metadata?.user_name || fullName;\nconst retSlug = profile?.metadata?.user_slug || userSlug;\nconst retTg   = (profile?.metadata?.telegram_id || '').toString().trim();\n\n// Масив профілів у staticData\nif (!Array.isArray(staticData.userProfiles)) {\n  staticData.userProfiles = [];\n}\n\n// Уникаємо дублікатів за user_slug: видаляємо старий, додаємо новий\nconst idx = staticData.userProfiles.findIndex(p =>\n  (p?.metadata?.user_slug || p?.user_slug || '') === retSlug\n);\nif (idx >= 0) {\n  staticData.userProfiles.splice(idx, 1);\n}\nstaticData.userProfiles.push(profile);\n\n// Логи\nconsole.log(`✅ Профіль збережено: ${retName} [${retSlug}] (tg: ${retTg || '—'})`);\nconsole.log(`👥 Профілів у staticData: ${staticData.userProfiles.length}`);\n\nreturn {\n  profile_saved: true,\n  user_name: retName,\n  user_slug: retSlug,\n  telegram_id: retTg,\n  total_profiles_saved: staticData.userProfiles.length,\n  profile\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4736,2464],"id":"df7adac7-61bb-42a0-895b-8d74358a712c","name":"Save Profile to Static Data"},{"parameters":{"documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Jobs","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[688,1312],"id":"bdb3f08d-6efa-484a-a800-93616093e34e","name":"Load All Jobs","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"/**\n * Get Stored Profiles — full, safe, non-breaking\n * Goal:\n *  - Read all jobs from input (Google Sheets → Load All Jobs)\n *  - Read user profiles from workflow static data (staticData.userProfiles)\n *  - Produce pairs { profile, job, user_slug, pair_id } for relevance analysis\n */\n\n// 1) Read jobs from input\nconst inputItems = $input.all();\nconst jobs = inputItems.map(it => it.json || {}).filter(j => Object.keys(j).length);\n\n// 2) Read profiles from workflow static data\nconst globalData = $getWorkflowStaticData('global');\nconst profiles = Array.isArray(globalData.userProfiles) ? globalData.userProfiles : [];\n\n// 3) Helpers\nfunction toSlug(s) {\n  return String(s || 'unknown')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/_+/g, '_')\n    .replace(/^_+|_+$/g, '');\n}\n\nfunction normalizeJob(j) {\n  // Keep job as-is but ensure common fields exist\n  const job = { ...j };\n  job.title        = job.title        ?? job.job_title   ?? '';\n  job.company      = job.company      ?? job.job_company ?? '';\n  job.url          = job.url          ?? job.job_url     ?? '';\n  job.location     = job.location     ?? job.job_location ?? '';\n  job.source       = job.source       ?? '';\n  job.posted_date  = job.posted_date  ?? '';\n  job.scraped_at   = job.scraped_at   ?? '';\n  job.description  = job.description  ?? '';\n  job.finnkode     = job.finnkode     ?? '';\n  job.uuid         = job.uuid         ?? '';\n  job.application_url = job.application_url ?? '';\n  return job;\n}\n\nfunction inferUserSlug(profile) {\n  return profile?.metadata?.user_slug\n      ?? toSlug(profile?.personalInfo?.fullName || profile?.name || 'user');\n}\n\nfunction inferTelegramId(profile) {\n  return profile?.metadata?.telegram_id\n      ?? profile?.telegram_id\n      ?? '';\n}\n\n// 4) Build pairs\nconst pairs = [];\n\nfor (const rawJob of jobs) {\n  const job = normalizeJob(rawJob);\n\n  // Optionally skip jobs with no description:\n  // if (!job.description) continue;\n\n  for (const prof of profiles) {\n    // Ensure each profile is an object\n    const profile = (prof && typeof prof === 'object') ? { ...prof } : {};\n\n    const user_slug = inferUserSlug(profile);\n    const telegram_id = inferTelegramId(profile);\n\n    const urlForId = job.url || job.uuid || job.finnkode || '';\n    const pair_id = `${user_slug}__${urlForId}`.slice(0, 500);\n\n    pairs.push({\n      json: {\n        profile,\n        job,\n        user_slug,\n        pair_id,\n        // Pass minimal metadata forward (can be extended later)\n        job_metadata: {\n          user_name: profile?.personalInfo?.fullName || profile?.metadata?.user_name || 'Unknown',\n          user_slug,\n          telegram_id,\n          job_title: job.title,\n          job_company: job.company,\n          job_url: job.url,\n          job_location: job.location,\n          location: job.location,\n          source: job.source,\n          posted_date: job.posted_date,\n          scraped_at: job.scraped_at,\n          pair_id,\n        },\n      },\n    });\n  }\n}\n\n// 5) Return pairs (each item = one profile × job)\nreturn pairs;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1232,1264],"id":"5a639e7e-fa5b-4412-b6ab-21530faaff47","name":"Get Stored Profiles"},{"parameters":{"jsCode":"// === Prepare Relevance Analysis — v2 (duties/requirements/req_pairs) ===\nconst pair = $input.first().json || {};\nconst profile = pair.profile || {};\nconst job = pair.job || {};\nconst user_slug = pair.user_slug || profile?.metadata?.user_slug || 'unknown';\nconst pair_id = pair.pair_id || `${user_slug}__noid`;\n\n// Базові метадані, які вже прийшли з Get Stored Profiles\nconst incomingMeta = pair.job_metadata || {};\nconst inferredTg =\n  incomingMeta.telegram_id ||\n  profile?.metadata?.telegram_id ||\n  profile?.telegram_id ||\n  '';\n\n// Стисла проекція профілю (щоб не плодити токени)\nfunction briefProfile(p) {\n  return {\n    personalInfo: {\n      fullName: p.personalInfo?.fullName || p.name || '',\n      location: p.location || p.personalInfo?.address?.city || ''\n    },\n    technicalSkills: p.technicalSkills || {},\n    softSkills: p.softSkills || [],\n    workExperience: Array.isArray(p.workExperience) ? p.workExperience.slice(0, 6) : [],\n    languages: p.languages || [],\n    certifications: p.certifications || []\n  };\n}\n\n// Повний опис вакансії для екстракції обов’язків/вимог\nconst jobPayload = {\n  title: job.title || job.job_title || '',\n  company: job.company || job.job_company || '',\n  location: job.location || job.job_location || '',\n  source: job.source || '',\n  url: job.url || job.job_url || '',\n  description: job.description || pair.job_description_raw || ''\n};\n\n// Промпт: просимо саме duties/requirements та мапінг req_pairs\nconst system =\n  'Ти строгий HR-експерт. Аналізуй відповідність кандидата вакансії. НІЧОГО не вигадуй — якщо чогось немає у профілі, пиши \"немає\". Поверни лише JSON.';\n\nconst user = {\n  task:\n    'Виділи обов’язки та вимоги з опису вакансії, зістав із профілем кандидата і поверни короткий JSON.',\n  candidate_profile: briefProfile(profile),\n  job: jobPayload,\n  output_schema: {\n    score: '0..100',\n    recommendation:\n      'HIGHLY_RECOMMENDED | RECOMMENDED | MAYBE | NOT_RECOMMENDED',\n    duties: ['3-6 коротких дій (що конкретно робити)'],\n    requirements: ['5-10 ключових вимог/кваліфікацій'],\n    req_pairs: [\n      {\n        require: 'назва вимоги',\n        candidate: 'YES | PARTIAL | NO',\n        evidence: 'короткий доказ/пояснення або порожньо'\n      }\n    ],\n    key_points: ['до 5 тез'],\n    strengths: ['до 4'],\n    weaknesses: ['до 4'],\n    action_required: '1-2 речення'\n  },\n  rules: [\n    'Відсутнє в профілі → candidate=NO',\n    'Суміжна технологія (напр. TypeScript vs Java) → candidate=PARTIAL з поясненням',\n    'ЖОДНОГО markdown/тексту поза JSON'\n  ]\n};\n\nconst analysisRequest = {\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: JSON.stringify(user) }\n  ],\n  temperature: 0.2,\n  max_tokens: 900\n};\n\n// Акуратно зливаємо метадані не перетираючи наявні значення\nconst job_metadata = {\n  ...incomingMeta,\n  user_name: incomingMeta.user_name || profile?.personalInfo?.fullName || 'Unknown',\n  user_slug: incomingMeta.user_slug || user_slug,\n  telegram_id: inferredTg,\n  job_title: incomingMeta.job_title || job.title || '',\n  job_company: incomingMeta.job_company || job.company || '',\n  job_url: incomingMeta.job_url || job.url || '',\n  job_location: incomingMeta.job_location || job.location || '',\n  location: incomingMeta.location || job.location || '',\n  source: incomingMeta.source || job.source || '',\n  posted_date: incomingMeta.posted_date || job.posted_date || '',\n  scraped_at: incomingMeta.scraped_at || job.scraped_at || '',\n  pair_id: incomingMeta.pair_id || pair_id\n};\n\n// Повертаємо у форматі item.json — як у тебе було\nreturn {\n  api_request: analysisRequest,\n  job_metadata,\n  profile,\n  job\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,1280],"id":"d29200a6-d0e6-4206-8ca9-baafb06a6d1c","name":"Prepare Relevance Analysis"},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"='18ZOPN_yWfeNKSdbmuDI7Vu-tiZX67_x5' in parents and name = '{{ $json.user_slug }}.profile.json' and mimeType = 'application/json' and trashed = false\n"},{"name":"fields","value":"files(id,name)"}]},"sendHeaders":true,"headerParameters":{"parameters":[{}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[240,2016],"id":"fc522790-cc70-4d37-ae48-41770eedfaa9","name":"Check Profile Exists","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"5d3b7d29-4f06-438d-822e-d1bec0d36baf","leftValue":"={{ $json.files ? $json.files.length : 0 }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[464,2000],"id":"99e51d24-ba44-47f5-941e-492663542192","name":"Profile Decision"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.files[0].id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2624,2016],"id":"5ec74202-351e-474e-9bcd-a49d062c311d","name":"Load Existing Profile","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[5072,3072],"id":"72c11518-e46f-4718-be08-24a71752dbcf","name":"Merge"},{"parameters":{"jsCode":"// Отримуємо профіль\nconst profile = $input.first().json;\n\n// Готуємо JSON для збереження\nconst profileJson = JSON.stringify(profile, null, 2);\n\n// Фіксована тека для ВСІХ профілів\nconst DEFAULT_FOLDER_ID = '18ZOPN_yWfeNKSdbmuDI7Vu-tiZX67_x5';\n\n// Ім'я файла\nconst fileName = profile.file_name || 'profile.json';\n\n// Витягуємо existing_file_id із \"Check Profile Exists\"\nlet existingFileId = '';\ntry {\n  const check = $('Check Profile Exists').first().json;\n  const files = Array.isArray(check.files) ? check.files : [];\n  existingFileId = files.length > 0 ? (files[0].id || '') : '';\n} catch (e) {\n  console.warn('⚠️ Cannot read existing_file_id from Check Profile Exists:', e.message);\n}\n\nconsole.log(`📝 Підготовлено ${fileName} для ${profile.personalInfo?.fullName || 'Unknown'}`);\nconsole.log(`📂 Папка: ${DEFAULT_FOLDER_ID}`);\nconsole.log(`♻️ existing_file_id: ${existingFileId || '— (new upload)'}`);\n\n// Створюємо бінарний файл для збереження\nconst binaryData = {\n  data: Buffer.from(profileJson).toString('base64'),\n  mimeType: 'application/json',\n  fileName: fileName\n};\n\n// Повертаємо з бінарними даними\nreturn {\n  json: {\n    ...profile,\n    file_name: fileName,\n    folder_id: DEFAULT_FOLDER_ID,\n    existing_file_id: existingFileId,\n    ready_to_save: true\n  },\n  binary: {\n    data: binaryData\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2736,2752],"id":"5476abfb-c6d8-40f6-9c05-6c1dd44a9f1b","name":"Prepare JSON for Save"},{"parameters":{"name":"={{ $json.file_name }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.folder_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3264,2976],"id":"922ca267-6f9d-41c2-ba0c-7d8f1cee1766","name":"Upload Profile to Drive","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{"jsCode":"/**\n * Pass User Data — FIXED\n * Бере поточного користувача з Loop Over Items1 і повертає як item.\n */\nconst userData = $('Loop Over Items1')?.item?.json ?? {};\n\nif (!userData.resume_folder_id) {\n  throw new Error('resume_folder_id is empty for current user');\n}\n\nconsole.log('👤 Обробка користувача:', userData.name || userData.user_slug);\nconsole.log('📂 Folder ID:', userData.resume_folder_id);\n\n// ВАЖЛИВО: повертати item-формат\nreturn [{ json: userData }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[800,2544],"id":"d9e382ac-ab71-4758-85e0-30c23815e48f","name":"Pass User Data"},{"parameters":{"method":"POST","url":"https://elvarika.openai.azure.com/openai/deployments/Elvarika-gpt-4o/chat/completions?api-version=2024-12-01-preview","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.api_request) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2192,1472],"id":"c27ae9e0-e9f5-4948-98e9-5a5be6be9175","name":"AI Analyze Relevance","credentials":{"httpHeaderAuth":{"id":"ZJBoJZKJZ8pO6XQp","name":"Azure OpenAI Header "}}},{"parameters":{"jsCode":"/**\n * Process Analysis Results — UPDATED\n * + Парсить AI-відповідь (JSON у content / об'єкт)\n * + Піднімає ключі аналізу нагору без перезапису існуючих\n * + Гарантує поля: analyzed_at, location, та Fallback для reasoning_ua/summary_ua\n */\n\nconst httpResp = (typeof $json === 'object' && $json !== null) ? { ...$json } : {};\nconst prepNode = $('Prepare Relevance Analysis');\nconst prepData = prepNode?.item?.json ?? {};\nconst jobMeta  = { ...(prepData.job_metadata || {}) };\n\n// 1) Спроба витягнути analysis\nlet analysis = {};\nconst rawContent = httpResp?.choices?.[0]?.message?.content\n                ?? httpResp?.message?.content\n                ?? httpResp?.content\n                ?? null;\n\nif (typeof rawContent === 'string') {\n  try {\n    analysis = JSON.parse(rawContent);\n  } catch {\n    const match = rawContent.match(/\\{[\\s\\S]*\\}/);\n    if (match) {\n      try { analysis = JSON.parse(match[0]); } catch { /* ignore */ }\n    }\n  }\n}\n\nif (!Object.keys(analysis).length) {\n  if (httpResp.analysis && typeof httpResp.analysis === 'object') {\n    analysis = { ...httpResp.analysis };\n  } else if (\n    httpResp.relevance_score !== undefined ||\n    httpResp.key_points !== undefined ||\n    httpResp.recommendation !== undefined\n  ) {\n    analysis = { ...httpResp };\n  }\n}\n\n// 2) Формуємо вихід\nconst out = { ...prepData, ...httpResp };\n\n// Підняти analysis-ключі без перезапису\nif (analysis && typeof analysis === 'object') {\n  for (const [k, v] of Object.entries(analysis)) {\n    if (out[k] === undefined) out[k] = v;\n  }\n}\n\n// Приєднати job_metadata\nout.job_metadata = out.job_metadata || jobMeta;\n\n// Промо полів\nif (out.title === undefined)   out.title   = out.job_metadata.job_title   ?? out.title   ?? '';\nif (out.company === undefined) out.company = out.job_metadata.job_company ?? out.company ?? '';\nif (out.url === undefined)     out.url     = out.job_metadata.job_url     ?? out.url     ?? '';\nif (!out.location || out.location === 'N/A') {\n  out.location =\n    out.job_metadata.location ||\n    out.job_metadata.job_location ||\n    out.job?.location ||\n    out.location ||\n    '';\n}\n\n// Timestamp\nif (!out.analyzed_at) out.analyzed_at = new Date().toISOString();\n\n// ---- Fallback для UA-полів (щоб завжди було що відправити) ----\nif (!out.reasoning_ua && typeof out.reasoning === 'string') {\n  out.reasoning_ua = out.reasoning;\n}\nif (!out.summary_ua) {\n  if (out.reasoning_ua && String(out.reasoning_ua).trim()) {\n    out.summary_ua = String(out.reasoning_ua).trim();\n  } else {\n    const kp = Array.isArray(out.key_points_ua) ? out.key_points_ua\n             : (typeof out.key_points === 'string' ? out.key_points.split(/\\s*\\|\\s*|\\n+/).map(s => s.trim()).filter(Boolean) : []);\n    if (kp && kp.length) out.summary_ua = kp.slice(0, 4).map(s => `• ${s}`).join('\\n');\n  }\n}\n\nreturn [{ json: out }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2496,1440],"id":"4a58b171-ee46-4582-8bac-04e377d7bba5","name":"Process Analysis Results"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"/**\n * Format for Telegram — UPDATED (HTML, UA)\n * Формат повідомлення:\n *  - Компанія (жирним), далі назва вакансії\n *  - Локація, Релевантність\n *  - Що потрібно робити (duties_ua)\n *  - Вимоги (requirements_ua)\n *  - Контраргументи (counterarguments_ua з аналізу/профілю)\n *  - Підсумок (summary_ua або reasoning_ua)\n *  - Посилання\n * Також встановлює chatId з job_metadata/profile.\n */\n\nconst data = (typeof $json === 'object' && $json !== null) ? { ...$json } : {};\n\nfunction val(x) { return (x === null || x === undefined) ? '' : String(x); }\nfunction lines(arr, max = 5) {\n  if (!Array.isArray(arr) || !arr.length) return '';\n  return arr.slice(0, max).map(s => `• ${String(s)}`).join('\\n');\n}\n\nconst title   = val(data.title_ua || data.title || data.job_metadata?.job_title || data.job?.title || 'Вакансія');\nconst company = val(data.company || data.job_metadata?.job_company || data.job?.company || 'Компанія');\nconst url     = val(data.url || data.job_metadata?.job_url || data.job?.url || '');\nconst loc     = val(data.location_ua || data.location || data.job_metadata?.location || data.job_metadata?.job_location || data.job?.location || '—');\n\nconst relevance = Number(\n  (data.relevance_score !== undefined ? data.relevance_score : data.score) || 0\n);\nconst relevanceStr = isFinite(relevance) ? `${Math.round(relevance)}%` : '—';\n\nconst dutiesUA = lines(data.duties_ua, 6);\nconst reqUA    = lines(data.requirements_ua, 6);\nconst ctrUA    = lines(data.counterarguments_ua, 5);\n\nconst summaryUA = val(\n  (data.summary_ua && data.summary_ua.trim()) ||\n  (data.reasoning_ua && data.reasoning_ua.trim()) ||\n  ''\n);\n\n// chatId\nconst chatId = val(\n  data.chatId ||\n  data.telegram_id ||\n  data.job_metadata?.telegram_id ||\n  data.profile?.metadata?.telegram_id ||\n  ''\n).trim();\n\n// Формуємо повідомлення\nlet message = '';\nmessage += `<b>${company}</b>\\n`;\nmessage += `${title}\\n`;\nmessage += `📍 Локація: ${loc}\\n`;\nmessage += `📊 Релевантність: ${relevanceStr}\\n`;\n\nif (dutiesUA) {\n  message += `\\n🧩 <b>Що потрібно робити</b>:\\n${dutiesUA}\\n`;\n}\nif (reqUA) {\n  message += `\\n🧾 <b>Вимоги</b>:\\n${reqUA}\\n`;\n}\nif (ctrUA) {\n  message += `\\n⚖️ <b>Контраргументи</b>:\\n${ctrUA}\\n`;\n}\nif (summaryUA) {\n  message += `\\n🧠 <b>Підсумок</b>:\\n${summaryUA}\\n`;\n}\nif (url) {\n  message += `\\n<a href=\"${url}\">🔗 Перейти до вакансії</a>`;\n}\n\nreturn {\n  ...data,\n  message,\n  chatId,\n  telegram_id: chatId\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4016,1264],"id":"480a736a-ad40-4398-b875-e1a103985dec","name":"Format for Telegram"},{"parameters":{"chatId":"={{$json.chatId}}","text":"={{ $json.message }}","additionalFields":{"parse_mode":"=HTML"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[4624,1280],"id":"122a6b5e-4737-41c8-8138-76e1b2f648e9","name":"Send a text message","webhookId":"df604a18-7485-4f73-9aa7-28182aacacda","credentials":{"telegramApi":{"id":"c8dqPyHVfYpEXDdR","name":"Telegram account"}}},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":1177838623,"mode":"list","cachedResultName":"Analysis_Results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY/edit#gid=1177838623"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":["id"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"job_id","displayName":"job_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"user_name","displayName":"user_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"score","displayName":"score","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"reasoning","displayName":"reasoning","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"recommendation","displayName":"recommendation","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"analyzed_at","displayName":"analyzed_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4544,1520],"id":"02de17b8-49a6-435f-9ee6-523e30fd7d97","name":"Save Results to Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"options":{"reset":false}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1536,1248],"id":"b101a46c-7fbc-4a72-9834-94d614952fbb","name":"Loop Over Pairs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f3fef132-5e58-4918-806c-57e6c06c6290","leftValue":"={{ $json.existing_file_id }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[3040,2704],"id":"1bf9f5dd-a1e4-4d4e-a4d9-5e766514167c","name":"Has Existing File?"},{"parameters":{"operation":"update","fileId":{"__rl":true,"value":"={{ $json.existing_file_id }}","mode":"id"},"changeFileContent":true,"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3440,2704],"id":"5dbc290f-558f-436c-afab-24bdb6efa21a","name":"Update Profile on Drive","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{"jsCode":"/**\n * План підтверджено. Крок 5 — Sanitize Relevance (Code)\n * Призначення:\n *  - Нормалізувати relevance_score до числа у діапазоні 0..100\n *  - Додати прапорець is_high для подальшого IF-фільтру (поріг 40)\n *  - Нічого не видаляти з поточного payload\n */\n\nconst out = (typeof $json === 'object' && $json !== null) ? { ...$json } : {};\nlet score = out.relevance_score ?? out.score ?? out.ai_score ?? 0;\n\n// parse to number\nif (typeof score === 'string') {\n  const m = score.match(/-?\\d+(\\.\\d+)?/);\n  score = m ? Number(m[0]) : 0;\n}\nif (!Number.isFinite(score)) score = 0;\n\n// clamp to 0..100\nif (score < 0) score = 0;\nif (score > 100) score = Math.min(score, 100);\n\nout.relevance_score = score;\n\nconst THRESHOLD = 40;\nout.is_high = score >= THRESHOLD;\n\nreturn out;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3648,1456],"id":"cc5e0d09-9eb0-42af-98e1-e6efaeeee51e","name":"Sanitize Relevance"},{"parameters":{"jsCode":"/**\n * Prepare Analysis Row (Code) — full, safe, non-breaking\n * Готує плоский рядок для запису у Google Sheets (Analysis_Results або інший лист логів).\n * Нічого не видаляє з даних, просто формує дубль у полі `row`.\n */\n\nconst j = (typeof $json === 'object' && $json !== null) ? { ...$json } : {};\n\n// Нормалізуємо числовий скор\nlet score = j.relevance_score ?? j.score ?? 0;\nif (typeof score === 'string') {\n  const m = score.match(/-?\\d+(\\.\\d+)?/);\n  score = m ? Number(m[0]) : 0;\n}\nif (!Number.isFinite(score)) score = 0;\nif (score < 0) score = 0;\nif (score > 100) score = Math.min(score, 100);\n\n// key_points → рядок\nlet keyPointsStr = '';\nif (Array.isArray(j.key_points)) {\n  keyPointsStr = j.key_points.join(' | ');\n} else if (typeof j.key_points === 'string') {\n  keyPointsStr = j.key_points;\n}\n\n// Поля з метаданих вакансії/профілю\nconst meta = j.job_metadata || {};\nconst title   = j.title   ?? meta.job_title   ?? j.job?.title   ?? '';\nconst company = j.company ?? meta.job_company ?? j.job?.company ?? '';\nconst url     = j.url     ?? meta.job_url     ?? j.job?.url     ?? '';\nconst loc     = j.location ?? meta.location ?? meta.job_location ?? j.job?.location ?? '';\nconst source  = j.source  ?? j.job?.source ?? '';\nconst user    = meta.user_name ?? j.user_name ?? j.profile?.personalInfo?.fullName ?? '';\nconst slug    = meta.user_slug ?? j.user_slug ?? '';\nconst tg      = meta.telegram_id ?? j.telegram_id ?? '';\nconst pair_id = meta.pair_id ?? j.pair_id ?? '';\n\n// Формуємо плоский рядок (підігнай під назви колонок у своєму аркуші)\nconst row = {\n  analyzed_at: j.analyzed_at || new Date().toISOString(),\n  user_name: user,\n  user_slug: slug,\n  telegram_id: tg,\n  pair_id,\n\n  title,\n  company,\n  location: loc,\n  url,\n  source,\n\n  relevance_score: score,\n  recommendation: j.recommendation ?? '',\n  key_points: keyPointsStr,\n  strengths: Array.isArray(j.strengths) ? j.strengths.join(' | ') : (j.strengths || ''),\n  weaknesses: Array.isArray(j.weaknesses) ? j.weaknesses.join(' | ') : (j.weaknesses || ''),\n  action_required: j.action_required ?? '',\n\n  reasoning: j.reasoning ?? '',\n  ai_analysis: (typeof j.analysis === 'string')\n    ? j.analysis\n    : (j.analysis ? JSON.stringify(j.analysis) : ''),\n\n  // технічні поля на випадок корисності\n  finnkode: j.finnkode ?? j.job?.finnkode ?? '',\n  uuid: j.uuid ?? j.job?.uuid ?? '',\n};\n\n// Повертаємо усе як було + підготовлений рядок\nreturn {\n  ...j,\n  row,\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4032,1520],"id":"fd536dfb-0449-4423-8fde-00da3bb3f917","name":"Prepare Analysis Row"},{"parameters":{"jsCode":"/** =======================================\n * NODE: Filter High Relevance — from scratch\n * =======================================\n * Пропускає елементи з is_high === true або score >= 40.\n */\n\nconst items = $input.all();\nconst result = [];\n\nfunction toNumberScore(value) {\n  let s = value ?? '';\n  if (typeof s === 'string') {\n    const m = s.match(/-?\\d+(?:\\.\\d+)?/);\n    s = m ? Number(m[0]) : NaN;\n  }\n  if (!Number.isFinite(s)) s = 0;\n  return Math.max(0, Math.min(100, s));\n}\n\nfor (const it of items) {\n  const j = it.json || {};\n  const score = toNumberScore(j.relevance_score ?? j.score ?? j.ai_score ?? 0);\n  const isHighFlag = (j.is_high === true) || (String(j.is_high).toLowerCase() === 'true');\n  const high = isHighFlag || (score >= 40);\n  if (!high) continue;\n\n  const loc =\n    j.location ??\n    j.job_metadata?.location ??\n    j.job_metadata?.job_location ??\n    j.job?.location ??\n    '';\n\n  result.push({\n    json: {\n      ...j,\n      relevance_score: score,\n      is_high: true,\n      location: loc,\n    }\n  });\n}\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3792,1280],"id":"9db613d6-357b-46aa-92be-e06679f718fe","name":"Filter High Relevance"},{"parameters":{"jsCode":"/**\n * Flatten Row for Sheets (Code) — full, safe, non-breaking\n * Мета:\n *  - Розпластати поля з $json.row на верхній рівень для autoMap у Google Sheets\n *  - Нічого не видаляти і не перезаписувати існуючі топ-рівневі поля\n */\n\nconst data = (typeof $json === 'object' && $json !== null) ? { ...$json } : {};\nconst row  = (data.row && typeof data.row === 'object') ? { ...data.row } : {};\n\n// Піднімаємо тільки відсутні ключі з row на верхній рівень\nfor (const [k, v] of Object.entries(row)) {\n  if (data[k] === undefined) data[k] = v;\n}\n\nreturn data;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4272,1520],"id":"b1699685-b713-43d9-95a9-02d527b16e16","name":"Flatten Row for Sheets"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"/** ================================\n * NODE: Ensure Chat ID — from scratch\n * ================================\n * Заповнює chatId/telegram_id із доступних джерел,\n * за потреби шукає у $getWorkflowStaticData('global').\n */\n\nconst data = (typeof $json === 'object' && $json !== null) ? { ...$json } : {};\n\nfunction val(x) {\n  if (x === null || x === undefined) return '';\n  const s = String(x).trim();\n  return s === 'undefined' ? '' : s;\n}\nfunction slugify(s) {\n  return String(s || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n}\nfunction pickChatIdFromStatic(staticData, wantSlug, wantName) {\n  if (!staticData || typeof staticData !== 'object') return '';\n\n  // 1) Довідник за slug\n  if (staticData.userDirectory && typeof staticData.userDirectory === 'object') {\n    const bySlug = staticData.userDirectory[wantSlug];\n    if (bySlug?.telegram_id) return val(bySlug.telegram_id);\n    for (const k of Object.keys(staticData.userDirectory)) {\n      const v = staticData.userDirectory[k];\n      if (!v) continue;\n      if (val(v.name) && slugify(v.name) === slugify(wantName) && v.telegram_id) {\n        return val(v.telegram_id);\n      }\n    }\n  }\n  // 2) Масиви конфігів\n  const arrays = ['users', 'userConfigs', 'user_config', 'userList'];\n  for (const key of arrays) {\n    const arr = staticData[key];\n    if (Array.isArray(arr)) {\n      let hit = arr.find(u => slugify(u.user_slug) === wantSlug && u.telegram_id);\n      if (hit?.telegram_id) return val(hit.telegram_id);\n      hit = arr.find(u => slugify(u.name) === slugify(wantName) && u.telegram_id);\n      if (hit?.telegram_id) return val(hit.telegram_id);\n    }\n  }\n  // 3) Збережені профілі\n  if (Array.isArray(staticData.userProfiles)) {\n    let hit = staticData.userProfiles.find(p =>\n      slugify(p?.metadata?.user_slug || p?.user_slug) === wantSlug && val(p?.metadata?.telegram_id)\n    );\n    if (hit?.metadata?.telegram_id) return val(hit.metadata.telegram_id);\n\n    hit = staticData.userProfiles.find(p =>\n      slugify(p?.personalInfo?.fullName || p?.metadata?.user_name || p?.user_name) === slugify(wantName) &&\n      val(p?.metadata?.telegram_id)\n    );\n    if (hit?.metadata?.telegram_id) return val(hit.metadata.telegram_id);\n  }\n  return '';\n}\n\n// 1) Прямі джерела\nlet chatId =\n  val(data.chatId) ||\n  val(data.telegram_id) ||\n  val(data.job_metadata?.telegram_id) ||\n  val(data.profile?.metadata?.telegram_id);\n\n// 2) Якщо порожньо — пошук у staticData\nif (!chatId) {\n  const wantSlug =\n    slugify(data.user_slug) ||\n    slugify(data.job_metadata?.user_slug) ||\n    slugify(data.profile?.metadata?.user_slug) ||\n    slugify(data.profile?.personalInfo?.fullName);\n\n  const wantName =\n    data.user_name ||\n    data.profile?.personalInfo?.fullName ||\n    data.job_metadata?.user_name ||\n    '';\n\n  const staticData = $getWorkflowStaticData('global');\n  chatId = pickChatIdFromStatic(staticData, wantSlug, wantName);\n}\n\nreturn {\n  ...data,\n  chatId,\n  telegram_id: chatId,\n  has_chat_id: Boolean(chatId),\n  parse_mode: (data.parse_mode || 'HTML'),\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4288,1248],"id":"03c7abdb-d4e8-40d3-a39c-5ccd9a6d615a","name":"Ensure Chat ID"},{"parameters":{"jsCode":"/**\n * Store User Directory to Static (Code) — full, safe\n * Призначення:\n *  - Прочитати масив користувачів із входу (наприклад, із \"Set User Profiles Config\")\n *  - Записати у $getWorkflowStaticData('global').userDirectory мапу {user_slug: {telegram_id, name}}\n *  - Нічого не ламати у потоці: повернути вхідні items як є\n */\n\nfunction slugify(s) {\n  return String(s || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase()\n    .replace(/[^a-z0-9]+/g, '_')\n    .replace(/^_+|_+$/g, '');\n}\n\nconst items = $input.all();\nconst first = items[0]?.json ?? {};\n\nlet users = [];\n// Поширені варіанти структури\nif (Array.isArray(first.users)) {\n  users = first.users;\n} else if (Array.isArray(first)) {\n  users = first;\n} else if (items.length > 1) {\n  users = items.map(i => i.json).filter(o => o && typeof o === 'object');\n} else if (Object.keys(first).length) {\n  // Якщо нода Set зберігає прямо поля користувача (name, telegram_id, resume_folder_id)\n  if (first.name || first.user_name || first.telegram_id || first.resume_folder_id) {\n    users = [first];\n  }\n}\n\n// Ініціалізуємо/оновлюємо довідник у staticData\nconst staticData = $getWorkflowStaticData('global');\nif (typeof staticData.userDirectory !== 'object' || staticData.userDirectory === null) {\n  staticData.userDirectory = {};\n}\n\nfor (const u of users) {\n  if (!u || typeof u !== 'object') continue;\n  const name = u.name || u.user_name || u.fullName || u.personalInfo?.fullName || '';\n  const slug = slugify(u.user_slug || u.slug || name);\n  const tg   = (u.telegram_id || u.telegramId || u.telegram?.id || '').toString().trim();\n\n  if (!slug) continue;\n\n  // оновлюємо існуючий запис або створюємо новий\n  const prev = staticData.userDirectory[slug] || {};\n  staticData.userDirectory[slug] = {\n    name: name || prev.name || '',\n    telegram_id: tg || prev.telegram_id || '',\n    user_slug: slug\n  };\n}\n\n// Повертаємо вхід без змін (щоб не ламати подальший ланцюг)\nreturn items;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,1328],"id":"481abdca-ed64-47b4-865f-ad4684d13fa5","name":"Store User Directory to Static"},{"parameters":{"url":"https://www.googleapis.com/drive/v3/files","authentication":"predefinedCredentialType","nodeCredentialType":"googleDriveOAuth2Api","sendQuery":true,"queryParameters":{"parameters":[{"name":"q","value":"'{{$json.resume_folder_id}}' in parents and mimeType='application/pdf' and trashed=false"},{"name":"fields","value":"files(id,name,mimeType,parents),nextPageToken"},{"name":"pageSize","value":"100"},{"name":"includeItemsFromAllDrives","value":"true"},{"name":"supportsAllDrives","value":"true"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[976,2544],"id":"dc005783-f4a2-44c7-9ac8-781ac65cdf41","name":"HTTP Request Get PDFs from Drive","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{"jsCode":"return [\n  {\n    json: {\n      users: [\n        {\n          name: \"Vitalii Berbeha\",\n          user_slug: \"vitalii_berbeha\",\n          telegram_id: \"374008445\",\n          resume_folder_id: \"1nfA_rLtdLqdIGCJrKoHH_9prxxFomK69\"\n        },\n        {\n          name: \"Natalia Berbeha\",\n          user_slug: \"natalia_berbeha\",\n          telegram_id: \"1008187993\",\n          resume_folder_id: \"1Cy0DY7dV0CVY7K17aaPSTZkdANl_kOMQ\"\n        }\n      ]\n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-880,1344],"id":"ad0e2b1d-de70-41cc-a816-f84e1ad1c5aa","name":"Provide Users"},{"parameters":{"jsCode":"const item = $input.first();\nlet jsonString = null;\n\n// 1) Binary → base64 → текст\nif (item.binary && Object.keys(item.binary).length) {\n  const key = Object.keys(item.binary)[0];\n  const bin = item.binary[key];\n  if (bin && typeof bin.data === 'string') {\n    jsonString = Buffer.from(bin.data, 'base64').toString('utf8');\n  }\n}\n\n// 2) Fallback: текст у json/data/body\nif (!jsonString) {\n  if (typeof item.json === 'string') jsonString = item.json;\n  else if (typeof item.json?.data === 'string') jsonString = item.json.data;\n  else if (typeof item.json?.body === 'string') jsonString = item.json.body;\n  else if (item.json && typeof item.json === 'object') return item.json;\n}\n\nif (!jsonString) throw new Error('No profile content to parse');\n\ntry {\n  return JSON.parse(jsonString);\n} catch (e) {\n  throw new Error('Invalid profile JSON: ' + e.message);\n}\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4272,2048],"id":"ee903b4c-971d-4049-88e1-ab538a2bdb0c","name":"Parse Existing Profile"},{"parameters":{"jsCode":"/**\n * Filter Jobs by Scan Date\n * Пропускає лише ті вакансії, у яких і scraped_at, і posted_date дорівнюють сьогоднішній даті (UTC).\n */\n\nconst today = new Date().toISOString().slice(0, 10); // YYYY-MM-DD\n\nfunction toDateOnly(val) {\n  if (!val) return '';\n  // очікуємо рядок типу 'YYYY-MM-DD' або 'YYYY-MM-DDTHH:mm:ssZ'\n  const s = String(val);\n  return s.includes('T') ? s.split('T')[0] : s.slice(0, 10);\n}\n\nconst items = $input.all();\n\nreturn items.filter(item => {\n  const job = item.json || {};\n  const scrapedDate = toDateOnly(job.scraped_at);\n  const postedDate  = toDateOnly(job.posted_date);\n  return scrapedDate === today && postedDate === today;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[960,1264],"id":"cbb6e49b-9072-4aad-8f4c-3a9e38ea5dbc","name":"Filter Jobs by Scan Date"},{"parameters":{"jsCode":"/**\n * Build Telegram UA Prompt — з нуля\n * Вхід: item після \"Process Analysis Results\" (має job_metadata/profile/job/analysis)\n * Вихід: додає api_request для OpenAI Chat Completions + проброс ключових полів\n */\n\nfunction val(x, d = '') {\n  if (x === null || x === undefined) return d;\n  if (typeof x === 'string') return x;\n  try { return JSON.stringify(x); } catch { return String(x); }\n}\n\nconst it   = $input.first()?.json ?? {};\nconst meta = it.job_metadata || {};\nconst job  = it.job || {};\nconst prof = it.profile || {};\n\n// Ключові поля для повідомлення\nconst title    = it.title    ?? meta.job_title    ?? job.title    ?? 'Без назви';\nconst company  = it.company  ?? meta.job_company  ?? job.company  ?? '—';\nconst url      = it.url      ?? meta.job_url      ?? job.url      ?? '';\nconst location = it.location ?? meta.location     ?? meta.job_location ?? job.location ?? '—';\nconst score    = it.relevance_score ?? it.score ?? 0;\nconst description = job.description || '';\n\n// Коротке резюме кандидата\nconst candidate = {\n  name: prof?.personalInfo?.fullName || meta.user_name || 'Unknown',\n  experience_years: prof?.careerStats?.totalExperienceYears ?? 'N/A',\n  current_role: prof?.careerStats?.currentRole || 'N/A',\n  tech_skills: prof?.technicalSkills || {},\n  soft_skills: prof?.softSkills || [],\n  languages: Array.isArray(prof?.languages)\n    ? prof.languages.map(l => `${l.language} - ${l.proficiencyLevel}`)\n    : [],\n  location: prof?.location || 'N/A'\n};\n\n// Системні інструкції для повністю українського, стислого HTML-повідомлення\nconst system = [\n  'Ти створюєш стислий, ПОВНІСТЮ український Telegram-меседж (HTML: <b>, <i>, • буліти).',\n  'Жодних код-блоків/markdown. Тільки текст/HTML.',\n  'Будь конкретним, без води. Максимум ~1000 символів.',\n  'Якщо чогось НЕМає в профілі — ясно позначай «Немає в профілі: …».',\n  'Перекладай норвезькі/англійські фрази на українську.'\n].join('\\n');\n\n// Дані для моделі (у повідомленні користувача)\nconst userPayload = {\n  job: {\n    title,\n    company,\n    location,\n    url,\n    relevance_score: score,\n    description\n  },\n  candidate,\n  analysis: {\n    matching_skills: it.matching_skills || [],\n    missing_skills: it.missing_skills || [],\n    strengths: it.strengths || [],\n    weaknesses: it.weaknesses || [],\n    reasoning: it.reasoning || ''\n  },\n  // Вимога до СТРОГОГО JSON-виводу без код-блоків\n  instruction: [\n    \"1) Витягни 3–5 КОНКРЕТНИХ обов'язків з опису вакансії (українською).\",\n    \"2) Для кожного — контраргумент: якщо потрібної навички/досвіду немає в профілі — «Немає в профілі: …». Якщо є — «Є в профілі: …».\",\n    \"3) Додай стислий підсумок (3–4 буліти) українською на базі наданих даних.\",\n    '4) Поверни СТРОГИЙ JSON без код-блоків/markdown у форматі:\\n' +\n    '{\\n  \"message_ua\": \"<html-рядок>\",\\n  \"summary_ua\": \"короткий текст\",\\n  \"duties_ua\": [\"...\"],\\n  \"counters_ua\": [\"...\"]\\n}'\n  ].join('\\n')\n};\n\n// Запит до OpenAI Chat Completions\nconst api_request = {\n  model: 'gpt-4o-2024-11-20',\n  temperature: 0.25,\n  max_tokens: 700,\n  messages: [\n    { role: 'system', content: system },\n    { role: 'user', content: JSON.stringify(userPayload) }\n  ]\n};\n\n// Повертаємо розширений payload (нічого не ламаємо)\nreturn {\n  ...it,\n  api_request,\n  // дублюємо важливі поля для наступних вузлів\n  title,\n  company,\n  url,\n  location\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2768,1440],"id":"003b708a-fe5e-4d09-81a1-460798ffdb27","name":"Build Telegram UA Prompt"},{"parameters":{"method":"POST","url":"https://elvarika.openai.azure.com/openai/deployments/Elvarika-gpt-4o/chat/completions?api-version=2024-12-01-preview","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.api_request) }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[3056,1456],"id":"0b7d3f58-e515-44fb-aa1b-7f219b066972","name":"Apply Telegram UA","credentials":{"httpHeaderAuth":{"id":"ZJBoJZKJZ8pO6XQp","name":"Azure OpenAI Header "}}},{"parameters":{"jsCode":"/**\n * Process Telegram UA Response — parse & merge\n * Призначення:\n *  - Розпарсити відповідь Azure OpenAI (choices[0].message.content)\n *  - Витягти: message_ua, summary_ua, duties_ua, counters_ua/​counterarguments_ua, requirements_ua\n *  - Акуратно об’єднати з контекстом із \"Build Telegram UA Prompt\" (job/profile/job_metadata)\n *  - Додати фоли, якщо модель повернула не-JSON\n *  - Не ламати існуючі поля, але UA-поля встановити явно (щоб Format for Telegram їх бачив)\n */\n\n// 1) HTTP-відповідь цієї ноди\nconst httpResp = (typeof $json === 'object' && $json !== null) ? { ...$json } : {};\n\n// 2) Базовий контекст із \"Build Telegram UA Prompt\"\nconst buildNode = $('Build Telegram UA Prompt');\nconst base = buildNode?.item?.json ?? {};\nconst meta = base.job_metadata || {};\nconst job  = base.job || {};\nconst profile = base.profile || {};\n\n// 3) Витягти сирий контент моделі\nlet rawContent =\n  httpResp?.choices?.[0]?.message?.content ??\n  httpResp?.message?.content ??\n  httpResp?.content ??\n  null;\n\n// Прибрати обгортки з код-блоків (```json ... ```)\nfunction stripCodeFences(s) {\n  if (typeof s !== 'string') return s;\n  return s\n    .replace(/^\\s*```(?:json)?/i, '')\n    .replace(/```\\s*$/i, '')\n    .trim();\n}\n\nrawContent = stripCodeFences(rawContent);\n\n// 4) Спроба парсингу JSON\nlet ua = {};\nif (typeof rawContent === 'string' && rawContent.trim()) {\n  try {\n    ua = JSON.parse(rawContent);\n  } catch {\n    // Спроба витягнути перший JSON-блок {...}\n    const m = rawContent.match(/\\{[\\s\\S]*\\}/);\n    if (m) {\n      try { ua = JSON.parse(m[0]); } catch { /* ignore */ }\n    }\n  }\n}\n\n// 5) Нормалізація полів із відповіді\nfunction ensureArray(x) {\n  if (Array.isArray(x)) return x.filter(Boolean).map(String);\n  if (typeof x === 'string') {\n    return x\n      .split(/\\n+|\\s*\\|\\s*|;\\s*/g)\n      .map(s => s.trim())\n      .filter(Boolean);\n  }\n  return [];\n}\nfunction val(x) {\n  return (x === null || x === undefined) ? '' : String(x);\n}\n\n// Можливі ключі з моделі\nconst messageUA       = val(ua.message_ua || ua.html || ua.message || '');\nconst summaryUA       = val(ua.summary_ua || ua.summary || '');\nconst dutiesUA        = ensureArray(ua.duties_ua || ua.duties || ua.tasks);\nconst countersUA      = ensureArray(ua.counters_ua || ua.counterarguments_ua || ua.counterarguments || ua.counters);\nconst requirementsUA  = ensureArray(ua.requirements_ua || ua.requirements);\n\n// 6) Промо важливих полів нагору (із базового контексту)\nconst title    = base.title    ?? meta.job_title    ?? job.title    ?? '';\nconst company  = base.company  ?? meta.job_company  ?? job.company  ?? '';\nconst url      = base.url      ?? meta.job_url      ?? job.url      ?? '';\nconst location = base.location ?? meta.location     ?? meta.job_location ?? job.location ?? '';\nconst score    = base.relevance_score ?? base.score ?? 0;\n\n// 7) Якщо message_ua порожній — зібрати мінімальний фолбек (HTML)\nfunction bullets(arr, max = 5) {\n  if (!Array.isArray(arr) || !arr.length) return '';\n  return arr.slice(0, max).map(s => `• ${String(s)}`).join('\\n');\n}\n\nlet messageUAFinal = messageUA;\nif (!messageUAFinal) {\n  let m = '';\n  m += `<b>${company || 'Компанія'}</b>\\n`;\n  m += `${title || 'Вакансія'}\\n`;\n  if (location) m += `📍 Локація: ${location}\\n`;\n  const sNum = Number(score);\n  if (Number.isFinite(sNum)) m += `📊 Релевантність: ${Math.round(sNum)}%\\n`;\n\n  const d = bullets(dutiesUA, 5);\n  if (d) m += `\\n🧩 <b>Що потрібно робити</b>:\\n${d}\\n`;\n\n  const r = bullets(requirementsUA, 6);\n  if (r) m += `\\n🧾 <b>Вимоги</b>:\\n${r}\\n`;\n\n  const c = bullets(countersUA, 5);\n  if (c) m += `\\n⚖️ <b>Контраргументи</b>:\\n${c}\\n`;\n\n  const s = summaryUA || val(base.summary_ua || base.reasoning_ua || base.reasoning || '');\n  if (s) m += `\\n🧠 <b>Підсумок</b>:\\n${s}\\n`;\n\n  if (url) m += `\\n<a href=\"${url}\">🔗 Перейти до вакансії</a>`;\n  messageUAFinal = m;\n}\n\n// 8) Збираємо фінальний payload\nconst out = {\n  ...base,                // весь контекст з \"Build Telegram UA Prompt\"\n  ua_llm_raw: rawContent, // для дебагу (необов’язково; можеш прибрати)\n  // UA-поля від моделі/або фолбеки\n  message_ua: messageUAFinal,\n  summary_ua: summaryUA || base.summary_ua || '',\n  duties_ua: dutiesUA.length ? dutiesUA : (base.duties_ua || []),\n  requirements_ua: requirementsUA.length ? requirementsUA : (base.requirements_ua || []),\n  counterarguments_ua: countersUA.length ? countersUA : (base.counterarguments_ua || []),\n  // промо ключів для Format for Telegram\n  title: title,\n  company: company,\n  url: url,\n  location: location,\n  // parse_mode для Telegram\n  parse_mode: 'HTML',\n};\n\n// Забезпечити analyzed_at, якщо потрібно для логів\nif (!out.analyzed_at) out.analyzed_at = new Date().toISOString();\n\n// Повертаємо як item\nreturn [{ json: out }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3344,1472],"id":"ead03b5b-78a2-4f0e-b8c4-81e6069e91d3","name":"Process Telegram UA Response"},{"parameters":{"jsCode":"/**\n * Build Job Index — читання з Sheets, нормалізація та дедуп\n * Вхід: items з Google Sheets (може бути \"голий\" масив або [{json:...}])\n * Вихід: [{ json: job }]\n */\n\nfunction flattenInput() {\n  const raw = $input.all().map(i => i.json ?? i);\n  const rows = [];\n  for (const r of raw) Array.isArray(r) ? rows.push(...r) : rows.push(r || {});\n  return rows;\n}\n\nfunction toDateOnly(v) {\n  if (!v) return '';\n  const s = String(v);\n  if (!s.trim()) return '';\n  // допускаємо ISO або yyyy-mm-dd\n  return s.includes('T') ? s.split('T')[0] : s.slice(0,10);\n}\n\nfunction toBool(v) {\n  if (typeof v === 'boolean') return v;\n  const s = String(v ?? '').trim().toLowerCase();\n  if (!s) return false;\n  return ['1','true','yes','y','t'].includes(s);\n}\n\nfunction toIntOrNull(v) {\n  const s = String(v ?? '').trim();\n  if (!s) return null;\n  const n = parseInt(s, 10);\n  return Number.isFinite(n) ? n : null;\n}\n\nfunction slug(s) {\n  return String(s || '')\n    .normalize('NFD').replace(/[\\u0300-\\u036f]/g, '')\n    .toLowerCase().replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '');\n}\n\nfunction normalizeUrl(u) {\n  try {\n    const url = new URL(String(u));\n    const p = url.pathname.replace(/\\/+$/,'').toLowerCase();\n    return (url.origin.toLowerCase() + p);\n  } catch {\n    return String(u || '').trim();\n  }\n}\n\nfunction idKey(job) {\n  const uuid = (job.uuid ?? '').trim();\n  const fin  = job.finnkode == null ? '' : String(job.finnkode).trim();\n  const url  = (job.url || '').trim();\n  if (uuid) return `uuid:${uuid}`;\n  if (fin)  return `finn:${fin}`;\n  if (url)  return `url:${normalizeUrl(url)}`;\n  // fallback по TCL тільки якщо є хоч щось змістовне\n  const t = slug(job.title), c = slug(job.company), l = slug(job.location);\n  if (t || c || l) return `tcl:${t}|${c}|${l}`;\n  return ''; // інакше відкидаємо\n}\n\nfunction normSource(s) {\n  const v = String(s || '').trim().toLowerCase();\n  if (v.includes('nav')) return 'NAV';\n  if (v.includes('finn')) return 'Finn';\n  return s || '';\n}\n\nconst inputRows = flattenInput();\nconst byKey = new Map();\n\nfor (const r0 of inputRows) {\n  // Мапінг колонок з урахуванням різних назв у аркушах\n  const j = {\n    title:       r0.title ?? r0.job_title ?? '',\n    company:     r0.company ?? r0.job_company ?? '',\n    location:    r0.location ?? r0.job_location ?? '',\n    url:         r0.url ?? r0.job_url ?? '',\n    source:      r0.source ?? '',\n    description: r0.description ?? '',\n    // типи:\n    finnkode:    toIntOrNull(r0.finnkode),\n    uuid:        ((r0.uuid || '').trim() || null),\n    is_processed: toBool(r0.is_processed),\n    // дати:\n    posted_date:  toDateOnly(r0.posted_date),\n    scraped_date: toDateOnly(r0.scraped_at ?? r0.scraped_date),\n  };\n\n  // Поле id з аркуша принципово не переносимо:\n  // j.id = undefined; // НЕ додавати\n\n  // Відкидаємо порожнє сміття (щоб не було tcl:||)\n  const hasId = (j.uuid !== null) || (j.finnkode !== null) || String(j.url || '').trim();\n  const hasAnyText = String(j.title||j.company||j.location||'').trim();\n  if (!hasId && !hasAnyText) continue;\n\n  j.source_norm = normSource(j.source);\n  j.id_key = idKey(j);\n  if (!j.id_key) continue; // теж сміття\n\n  const prev = byKey.get(j.id_key);\n  if (!prev) {\n    byKey.set(j.id_key, j);\n  } else {\n    // беремо запис із більш свіжою scraped_date\n    const a = j.scraped_date || '';\n    const b = prev.scraped_date || '';\n    if (a > b) byKey.set(j.id_key, j);\n  }\n}\n\nreturn Array.from(byKey.values()).map(j => ({ json: j }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[3984,672],"id":"5d4c95b5-4a4a-4a91-a062-59c810f9bc6b","name":"Build Job Index"},{"parameters":{"documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":1177838623,"mode":"list","cachedResultName":"Analysis_Results","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY/edit#gid=1177838623"},"options":{"dataLocationOnSheet":{"values":{"rangeDefinition":"detectAutomatically"}}}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[4176,672],"id":"303c9bbe-12ae-449b-bdb0-46c296744f75","name":"Read Analysis Results","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// підтримка випадку, коли у вхід прилітає масив рядків усередині одного item\nconst raw = $input.all().map(i => i.json);\nconst rows = [];\nfor (const r of raw) Array.isArray(r) ? rows.push(...r) : rows.push(r || {});\n\nfunction normalizeUrl(u){ try{ const url=new URL(String(u)); let p=url.pathname.replace(/\\/+$/,''); return (url.origin.toLowerCase()+p.toLowerCase()); } catch { return String(u||'').trim(); } }\n\nfunction idKey(j){\n  const uuid = String(j.uuid||'').trim();\n  const fin  = String(j.finnkode||'').trim();\n  const url  = String(j.url||'').trim();\n  if (uuid) return `uuid:${uuid}`;\n  if (fin)  return `finn:${fin}`;\n  if (url)  return `url:${normalizeUrl(url)}`;\n  return ''; // без фолу-беку тут, у Build Job Index все одно є TCL-ключ\n}\n\nconst analyzed = new Set();\nfor (const r of rows){\n  const k = idKey(r);\n  if (k) analyzed.add(k);\n}\n\nreturn [{ json: { analyzed_keys: Array.from(analyzed) } }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[4448,656],"id":"d8cb31fa-a829-4852-80e4-5f01721459c1","name":"Build Analyzed Set"},{"parameters":{"documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":"Analysis_Results","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[7200,1088],"id":"492d6829-30ba-49d1-8044-1d72c714ea4b","name":"Read Relevant Jobs (Sheets)","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"functionCode":"// Просто передаємо дані з правильним URL для Skyvern\nlet items = $input.all();\n\nconsole.log('=== URL PROCESSING ===');\nconsole.log('Input items:', items.length);\n\nconst processedItems = [];\n\nfor (const item of items) {\n  const job = item.json;\n  \n  // Визначаємо джерело\n  const source = job.source || '';\n  let finalUrl = '';\n  \n  if (source === 'Finn' || source === 'FINN') {\n    // Для Finn використовуємо прямий URL\n    finalUrl = job.url;\n    console.log(`FINN job: ${job.title} -> using direct URL`);\n    \n  } else if (source === 'NAV') {\n    // Для NAV використовуємо application_url\n    finalUrl = job.application_url;\n    console.log(`NAV job: ${job.title} -> using application_url`);\n  } else {\n    console.log(`Unknown source: ${source} for job: ${job.title}`);\n    finalUrl = job.url; // Fallback\n  }\n  \n  // ВАЖЛИВО: Додаємо ВСІ вакансії, навіть якщо немає URL\n  processedItems.push({\n    ...job,\n    skyvern_url: finalUrl || job.url, // URL для Skyvern\n    original_source: source\n  });\n}\n\nconsole.log(`Processed ${processedItems.length} jobs`);\nreturn processedItems;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[7872,976],"id":"c95eebee-00f1-411a-8e26-3c4fa50ed23b","name":"Filter Eligible Jobs"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"task_created","leftValue":"={{ $json.task_id }}","rightValue":"","operator":{"type":"string","operation":"isNotEmpty"}}],"combinator":"and"},"options":{}},"id":"530d331a-f476-44e1-9d94-31a7d4f32885","name":"Check Task Creation","type":"n8n-nodes-base.if","typeVersion":2,"position":[8320,144]},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":"Applications","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"job_url":"={{ $('Filter Eligible Jobs').first().json.url }}","user_name":"={{ $('Filter Eligible Jobs').first().json.user_name }}","company":"={{ $('Filter Eligible Jobs').first().json.company }}","title":"={{ $('Filter Eligible Jobs').first().json.title }}","skyvern_task_id":"={{ $('Create Skyvern Task').first().json.task_id }}","status":"={{ $json.status }}","submitted_at":"={{ $now.format('YYYY-MM-DD HH:mm:ss') }}"},"matchingColumns":["job_url"]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[8752,176],"id":"ac2b39c4-a2a9-49cc-91b3-acbec377524c","name":"Save Application Record (Sheets)","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":"Jobs","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{"row_number":0},"matchingColumns":["url"],"schema":[{"id":"id","displayName":"id","required":false,"defaultMatch":true,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"company","displayName":"company","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"url","displayName":"url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"source","displayName":"source","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"posted_date","displayName":"posted_date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"scraped_at","displayName":"scraped_at","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"description","displayName":"description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_processed","displayName":"is_processed","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"uuid","displayName":"uuid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"application_url","displayName":"application_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"finnkode","displayName":"finnkode","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"skyvern_status","displayName":"skyvern_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"recording_url","displayName":"recording_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[8976,192],"id":"dfb6406b-283b-4958-8eb5-1c326ab7810c","name":"Update Job Status (Sheets)","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"url":"\"http://skyvern-skyvern-1:8000/v1/run/tasks/{{ $('Skyvern: Fill Application Form').first().json.task_id }}\"","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{}},"id":"b5b2434a-7d46-492e-b899-c93db5380e45","name":"Check Task Status1","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8560,176],"credentials":{"httpHeaderAuth":{"id":"ZJBoJZKJZ8pO6XQp","name":"Azure OpenAI Header "}}},{"parameters":{"documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":"Jobs","mode":"name"},"filtersUI":{"values":[{"lookupColumn":"application_url","lookupValue":"IS NOT EMPTY"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[7200,912],"id":"770a6420-3ee8-4532-ae8f-a197dd65aacd","name":"Read Jobs Sheet","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[7440,1040],"id":"6af6c5c1-28a5-42b4-a008-b2fc72a1b5c3","name":"Merge1"},{"parameters":{"functionCode":"const users = ['Vitalii Berbeha', 'Natalia Berbeha'];\n\nlet items = $input.all();\n\nconsole.log('=== DEBUG FILTER ===');\nconsole.log('Total input items:', items.length);\n\n// Перевіряємо структуру даних\nfor (let i = 0; i < Math.min(3, items.length); i++) {\n  console.log(`Item ${i} keys:`, Object.keys(items[i]?.json || {}));\n  console.log(`Item ${i} user_name:`, items[i]?.json?.user_name);\n  console.log(`Item ${i} score:`, items[i]?.json?.score);\n  console.log(`Item ${i} recommendation:`, items[i]?.json?.recommendation);\n}\n\n// Фільтр по користувачу\nitems = items.filter(it => {\n  const hasUser = users.includes(it.json.user_name);\n  if (!hasUser) {\n    console.log('User filter REJECT:', it.json.user_name);\n  }\n  return hasUser;\n});\n\nconsole.log('After user filter:', items.length);\n\n// Фільтр по Score >= 40 АБО recommendation = \"MAYBE\"\nitems = items.filter(it => {\n  const score = Number(it.json.score || -1);\n  const recommendation = String(it.json.recommendation || '').toUpperCase();\n  \n  const scoreOk = score >= 40;\n  const recOk = recommendation === 'MAYBE';\n  const result = scoreOk || recOk;\n  \n  if (!result) {\n    console.log('Score filter REJECT:', {\n      score: score,\n      recommendation: recommendation,\n      scoreOk: scoreOk,\n      recOk: recOk\n    });\n  }\n  \n  return result;\n});\n\nconsole.log('After score filter:', items.length);\n\n// Виключаємо NOT_RECOMMENDED\nitems = items.filter(it => {\n  const recommendation = String(it.json.recommendation || '').toUpperCase();\n  const notBlocked = recommendation !== 'NOT_RECOMMENDED';\n  if (!notBlocked) {\n    console.log('NOT_REC filter REJECT:', recommendation);\n  }\n  return notBlocked;\n});\n\nconsole.log('Final output:', items.length);\nreturn items.slice(0, 5);"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[7696,976],"id":"11e0a792-38b6-4d40-923f-eb1899908aa4","name":"Check url"},{"parameters":{"functionCode":"// Отримуємо дані вакансії для конкретного користувача\nconst job = $json;\nconst userName = job.user_name;\n\nconsole.log('=== GET PROFILES ===');\nconsole.log('Processing job for user:', userName);\nconsole.log('Job title:', job.title);\n\n// Витягуємо application_url з поля job (JSON string)\nlet parsedJob = {};\ntry {\n  parsedJob = JSON.parse(job.job);\n  console.log('Parsed job application_url:', parsedJob.application_url);\n} catch (e) {\n  console.log('Error parsing job JSON:', e);\n}\n\n// Визначаємо папку профілю для користувача (обидва в одній папці)\nlet profileFolderId = '';\nif (userName === 'Vitalii Berbeha' || userName === 'Natalia Berbeha') {\n  profileFolderId = '18ZOPN_yWfeNKSdbmuDI7Vu-tiZX67_x5'; // ✅ ПРАВИЛЬНИЙ ID ПАПКИ\n} else {\n  throw new Error('Unknown user: ' + userName);\n}\n\n// Визначаємо правильний URL для Skyvern\nlet skyvernUrl = '';\nconst source = job.source || '';\n\nif (source === 'Finn' || source === 'FINN') {\n  skyvernUrl = job.url || parsedJob.url;\n  console.log(`FINN job -> using direct URL: ${skyvernUrl}`);\n} else if (source === 'NAV') {\n  skyvernUrl = parsedJob.application_url || job.application_url || job.url;\n  console.log(`NAV job -> application_url: ${parsedJob.application_url}`);\n  console.log(`NAV job -> using: ${skyvernUrl}`);\n} else {\n  skyvernUrl = parsedJob.application_url || job.url || job.application_url;\n  console.log(`Unknown source: ${source}, using fallback: ${skyvernUrl}`);\n}\n\nif (!skyvernUrl) {\n  console.log(`WARNING: No valid URL found for job: ${job.title}`);\n  return null;\n}\n\nconsole.log('Profile folder ID:', profileFolderId);\nconsole.log('Skyvern URL:', skyvernUrl);\n\nreturn {\n  ...job,\n  profile_folder_id: profileFolderId,\n  skyvern_url: skyvernUrl,\n  application_url: parsedJob.application_url, // ✅ ДОДАЄМО APPLICATION_URL\n  user_name: userName\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[8320,976],"id":"a503333b-4826-40eb-8eab-83022ed0ace6","name":"Get Profiles"},{"parameters":{"batchSize":3,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[8112,960],"id":"6617ce3d-7ba9-4697-892f-f13015786b9f","name":"Loop Over Items3"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1ncVROwtc_M-Hjg1hzbe9n4bJ-Ah_uy-USfbCQumROOY","mode":"id"},"sheetName":{"__rl":true,"value":"Agent_Sessions","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[{"id":"output","displayName":"output","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"task_context","displayName":"task_context","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"agent_result","displayName":"agent_result","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"current_url","displayName":"current_url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"action_type","displayName":"action_type","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"form_data","displayName":"form_data","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[9904,2400],"id":"6b75dc30-542e-4912-a075-aa32582a438c","name":"Save Session1","credentials":{"googleSheetsOAuth2Api":{"id":"JKNAL6BXXgzdSILa","name":"Google Sheets account"}}},{"parameters":{"promptType":"define","text":"=TASK: {{ $json.specific_prompt }}\nPAGE TYPE: {{ $json.detected_page_type }}\nSCREENSHOT: {{ $json.page_analysis.screenshot_url }}\n\nAVAILABLE INTERACTIVE ELEMENTS:\n{{ JSON.stringify($json.interactive_elements, null, 2) }}\n\nRECOMMENDED ACTION: {{ $json.next_action_selector }}\n\nUSER PROFILE: {{ JSON.stringify($json.user_profile, null, 2) }}\n\nBased on the page analysis, generate the EXACT action using the provided selectors.\n\nRESPONSE FORMAT (JSON only):\n{\n  \"status\": \"CONTINUE\",\n  \"navigation_payload\": {\n    \"actions\": [{\n      \"action_type\": \"click\",\n      \"selector\": \"{{ $json.next_action_selector }}\"\n    }]\n  }\n}","hasOutputParser":true,"options":{"systemMessage":"You are a step-by-step web automation assistant. Analyze each page carefully and take one action at a time. Use available tools to observe pages and execute actions. Maximum 20 steps per application."}},"id":"1d4aff1b-6f35-4e74-aa60-9a98ad236422","name":"AI Application Agent1","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.6,"position":[7376,2464]},{"parameters":{"model":"Elvarika-gpt-4o","options":{"maxRetries":2}},"id":"711d356b-301e-4547-9c5d-c67a9b6e5711","name":"Azure OpenAI Model1","type":"@n8n/n8n-nodes-langchain.lmChatAzureOpenAi","typeVersion":1,"position":[7104,2640],"credentials":{"azureOpenAiApi":{"id":"2e9kgo5TV3KJWp6l","name":"Azure Open AI account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"=={{ $json.task_context?.session_id || 'default_session' }}","contextWindowLength":15},"id":"32273eba-81d5-42a7-b25f-f4014c58b609","name":"Agent Memory1","type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.2,"position":[7328,2656]},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[7120,1968],"id":"574a7c2c-f933-4fe2-ab05-fac99a2035d0","name":"Wait","webhookId":"06045145-c250-456d-958b-de43bde5378e"},{"parameters":{"resource":"fileFolder","searchMethod":"query","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"18ZOPN_yWfeNKSdbmuDI7Vu-tiZX67_x5","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[8512,960],"id":"a92f52da-340c-4242-b0a1-24e881bf5c88","name":"Load User Profiles from Drive","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{"functionCode":"// ПАРСИНГ ТА ЗІСТАВЛЕННЯ ПРОФІЛЮ КОРИСТУВАЧА\nconst profileResults = $input.all();\nconst jobData = $('Get Profiles').first().json; // Дані вакансії\nconst targetUserName = jobData.user_name; // Ім'я користувача з вакансії\n\nconsole.log('=== PARSE AND MATCH USER PROFILE ===');\nconsole.log('Target user:', targetUserName);\nconsole.log('Found profiles:', profileResults.length);\n\nlet userProfile = null;\n\n// Шукаємо профіль для конкретного користувача\nfor (const item of profileResults) {\n  try {\n    let profileData;\n    \n    // Парсимо JSON з binary або json\n    if (item.binary && Object.keys(item.binary).length > 0) {\n      const binaryKey = Object.keys(item.binary)[0];\n      const content = Buffer.from(item.binary[binaryKey].data, 'base64').toString('utf8');\n      profileData = JSON.parse(content);\n    } else if (typeof item.json === 'string') {\n      profileData = JSON.parse(item.json);\n    } else {\n      profileData = item.json;\n    }\n\n    const profileUserName = profileData.personalInfo?.fullName;\n    \n    console.log(`Checking profile: ${profileUserName}`);\n    \n    // Зіставляємо ім'я користувача\n    if (profileUserName === targetUserName) {\n      console.log(`✅ MATCH FOUND: ${profileUserName}`);\n      \n      userProfile = {\n        // Основна інформація\n        name: profileData.personalInfo?.fullName,\n        email: profileData.personalInfo?.email,\n        phone: profileData.personalInfo?.phone,\n        website: profileData.personalInfo?.website,\n        address: profileData.personalInfo?.address,\n        \n        // Професійна інформація  \n        experience_years: profileData.careerStats?.totalExperienceYears || 0,\n        current_role: profileData.careerStats?.currentRole || '',\n        professional_summary: profileData.professionalSummary || '',\n        \n        // Навички\n        technical_skills: profileData.technicalSkills || {},\n        soft_skills: profileData.softSkills || [],\n        languages: profileData.languages || [],\n        \n        // Освіта та сертифікати\n        education: profileData.education || [],\n        certifications: profileData.certifications || [],\n        \n        // Робочий досвід\n        work_experience: profileData.workExperience || [],\n        \n        // Інтереси\n        interests: profileData.interests || [],\n        \n        // Метадані\n        location: profileData.location || '',\n        preferred_work_format: profileData.preferredWorkFormat || '',\n        user_slug: profileData.user_slug || ''\n      };\n      break;\n    }\n    \n  } catch (error) {\n    console.error('Error parsing profile:', error.message);\n  }\n}\n\nif (!userProfile) {\n  throw new Error(`Profile not found for user: ${targetUserName}`);\n}\n\nconsole.log(`🎯 Profile loaded for: ${userProfile.name}`);\nconsole.log(`📧 Email: ${userProfile.email}`);\nconsole.log(`📱 Phone: ${userProfile.phone}`);\nconsole.log(`💼 Experience: ${userProfile.experience_years} years`);\n\n// Повертаємо дані у форматі який очікує наступна нода\nreturn {\n  testData: {\n    company: jobData.company || \"Unknown Company\",\n    title: jobData.title || \"Unknown Position\", \n    user_name: userProfile.name,\n    start_url: jobData.skyvern_url || jobData.url,\n    user_profile: userProfile\n  }\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[8848,896],"id":"ede1494d-a6bb-492f-a5d0-188585e75331","name":"Parse and Match User Profile"},{"parameters":{"functionCode":"// ПІДГОТОВКА РЕАЛЬНИХ ДАНИХ ДЛЯ JOB APPLICATION\nconst inputData = $input.first().json;\nconst testData = inputData.testData;\nconst jobData = $('Get Profiles').first().json;\n\nconsole.log('=== PREPARE REAL JOB APPLICATION ===');\nconsole.log('User:', testData.user_name);\nconsole.log('Company:', testData.company);\nconsole.log('Position:', testData.title);\n\n// Формуємо повні дані для AI Agent\nconst applicationData = {\n  // Основна інформація про вакансію\n  company: testData.company,\n  title: testData.title,\n  user_name: testData.user_name,\n  start_url: testData.start_url,\n  \n  // Повний профіль користувача для AI\n  user_profile: testData.user_profile,\n  \n  // Контекст завдання\n  task_context: {\n    objective: `Apply for ${testData.title} position at ${testData.company} for ${testData.user_name}`,\n    current_step: 1,\n    max_steps: 30,\n    session_id: `${testData.user_profile.user_slug}_${Date.now()}`,\n    user_email: testData.user_profile.email,\n    user_phone: testData.user_profile.phone\n  },\n  \n  // Метадані для логування\n  job_metadata: {\n    source: jobData.source || 'Unknown',\n    original_url: jobData.url,\n    application_url: jobData.application_url,\n    job_id: jobData.id || jobData.uuid\n  }\n};\n\nconsole.log(`🚀 Ready for application: ${testData.user_name} → ${testData.company}`);\nconsole.log(`🌐 URL: ${testData.start_url}`);\nconsole.log(`📊 Experience: ${testData.user_profile.experience_years} years`);\n\nreturn applicationData;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[9024,896],"id":"3a7893b7-efa8-418a-ad1b-1dfddb26a564","name":"Prepare Real Job Application"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[8704,944],"id":"c42908f4-ce0e-45ab-a8a7-d7820b57b24e","name":"Download Profile Files","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{"functionCode":"return {\n  skyvern_action: {\n    prompt: \"Simply click on any button on this page. Click the first button you see.\",\n    url: \"https://norgesgruppen.wd3.myworkdayjobs.com/karriere/job/KIWI-Raufoss/KIWI-Raufoss-sker-etter-butikkmedarbeider-deltid-20--_JR10013143/apply\",\n    engine: \"skyvern-2.0\",\n    wait_for_completion: true\n  }\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[7936,2464],"id":"36065eb5-bf2a-4e05-bb69-e1d74ebd3658","name":"Action Executor"},{"parameters":{"method":"POST","url":"http://skyvern-skyvern-1:8000/v1/run/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjQ4OTg0ODcwNDQsInN1YiI6Im9fNDIwMjM2MTExNjIyNTY1NTc0In0.aLM20qKy1DZnwWPiVmex4PeehYVJaxUdS7oVOuvA2DQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"{{ $json.skyvern_action.prompt }}\",\n  \"url\": \"{{ $json.skyvern_action.url }}\",\n  \"engine\": \"skyvern-1.0\",\n  \"wait_for_completion\": false,\n  \"proxy_location\": \"NONE\",\n  \"capture_screenshots\": true,\n  \"max_screenshot_scrolls\": 2,\n  \"navigation_payload\": \"={{ $json.skyvern_action.navigation_payload }}\"\n}","options":{"timeout":200000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8096,2464],"id":"bb7af999-c944-4847-8bb2-fd746445eb96","name":"Page Checker"},{"parameters":{"functionCode":"// РОЗУМНИЙ КОНТРОЛЕР ЦИКЛУ\nconst aiOutput = $input.first().json;\n\nconsole.log('=== SMART LOOP CONTROLLER ===');\nconsole.log('AI Output:', aiOutput.output);\n\n// Отримуємо URL з workflow context\nconst jobUrl = $('Extract Screenshots').first().json?.job_url || \n              $('Extract Screenshots').first().json?.page_analysis?.pageUrl ||\n              $('Extract Screenshots').first().json?.request?.url;\n\n// Парсимо JSON від AI\nlet aiResult;\ntry {\n  let cleanOutput = aiOutput.output.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  aiResult = JSON.parse(cleanOutput);\n} catch (e) {\n  console.log('Parse error:', e.message);\n  aiResult = { status: \"ERROR\" };\n}\n\n// Передаємо URL далі\nreturn {\n  status: \"CONTINUE\", \n  should_continue: true,\n  job_url: jobUrl,  // ПЕРЕДАЄМО URL\n  ai_instructions: aiResult\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[7712,2464],"id":"447409b4-4cb9-474b-845b-d8babab6122d","name":"Smart Loop Controller"},{"parameters":{"method":"POST","url":"http://skyvern-skyvern-1:8000/v1/run/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjQ4OTg0ODcwNDQsInN1YiI6Im9fNDIwMjM2MTExNjIyNTY1NTc0In0.aLM20qKy1DZnwWPiVmex4PeehYVJaxUdS7oVOuvA2DQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"prompt\": \"Take screenshot of current page state and extract complete HTML with all form elements, buttons, and interactive components\",\n  \"url\": \"{{ $json.current_url || $('Prepare Real Job Application').first().json.start_url }}\",\n  \"engine\": \"skyvern-1.0\",\n  \"wait_for_completion\": true,\n  \"proxy_location\": \"NONE\",\n  \"capture_screenshots\": true,\n  \"max_screenshot_scrolls\": 2,\n  \"data_extraction_goal\": \"Extract interactive elements: find ALL buttons, inputs, links with their exact CSS selectors, IDs, classes, and text content. Return structured list of interactive elements.\"\n}","options":{"timeout":200000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[6928,1984],"id":"0cdc0050-9033-4ecb-b46c-021bedcb9d10","name":"Skyvern Screenshot"},{"parameters":{"functionCode":"// ВИТЯГУЄМО СТРУКТУРОВАНІ ДАНІ ЗІ SKYVERN\nconst taskResult = $input.first().json;\n\nconsole.log('=== EXTRACT PAGE ANALYSIS ===');\nconsole.log('Task status:', taskResult.status);\nconsole.log('Extracted info available:', !!taskResult.extracted_information);\n\nif (!taskResult.extracted_information) {\n  throw new Error('No extracted information found');\n}\n\nconst pageInfo = taskResult.extracted_information;\n\nconsole.log('✅ Page analysis extracted');\nconsole.log('Cookie banner:', pageInfo.cookieBanner ? 'YES' : 'NO');\nconsole.log('Application section:', pageInfo.applicationSection ? 'YES' : 'NO');\n\nreturn {\n  ...taskResult,\n  page_analysis: pageInfo,\n  analysis_ready: true,\n  cookie_banner: pageInfo.cookieBanner,\n  application_actions: pageInfo.applicationSection?.actions || [],\n  // ДОДАТИ URL ДЛЯ ПОДАЛЬШОГО ВИКОРИСТАННЯ\n  job_url: taskResult.request?.url || pageInfo.pageUrl\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[8016,1952],"id":"122b268f-5a36-4653-90e8-9e4617b71001","name":"Extract Screenshots"},{"parameters":{"amount":30},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[8304,2496],"id":"a73ac239-5564-42a8-87dc-e485c61a1bd1","name":"Wait Action","webhookId":"06045145-c250-456d-958b-de43bde5378e"},{"parameters":{"functionCode":"const pageResult = $('Page Checker').first().json;\nconst runId = pageResult.run_id;\n\nconsole.log('🔍 Checking action status for run_id:', runId);\n\nreturn {\n  run_id: runId,\n  original_data: pageResult,\n  attempt: 0\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[8496,2464],"id":"9ff0b94a-89bd-4cf0-a33e-b8ed4c8042e1","name":"Pass Action ID"},{"parameters":{"url":"=http://skyvern-skyvern-1:8000/api/v1/tasks/{{ $json.run_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjQ4OTg0ODcwNDQsInN1YiI6Im9fNDIwMjM2MTExNjIyNTY1NTc0In0.aLM20qKy1DZnwWPiVmex4PeehYVJaxUdS7oVOuvA2DQ"}]},"options":{"timeout":200000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[8736,2464],"id":"1938f1eb-5cb0-4455-ab7c-13387b02bb7e","name":"Check Action Status"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should_continue","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f3eff67f-fb09-45cc-b765-f1191df1cef4","name":"Check Action Complete","type":"n8n-nodes-base.if","typeVersion":2,"position":[8976,2480]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should_continue","leftValue":"={{ $json.should_skip }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"0ce6957e-88e3-47d9-8c3d-b6213d73c046","name":"Check URL Status","type":"n8n-nodes-base.if","typeVersion":2,"position":[9552,1248]},{"parameters":{"functionCode":"// LOG FAILED URLs - ЛОГУВАННЯ НЕДОСТУПНИХ СТОРІНОК\nconst jobData = $input.first().json;\n\nconsole.log('=== LOGGING FAILED URL ===');\nconsole.log('❌ SKIP:', jobData.company, '-', jobData.title);\nconsole.log('❌ URL:', jobData.start_url);\nconsole.log('❌ Reason:', jobData.url_check_error);\nconsole.log('❌ Status:', jobData.url_status);\n\n// Підрахунок невдалих спроб\nconst currentAttempt = jobData.retry_count || 0;\nconst maxRetries = 2;\n\n// Статистика для фінального звіту\nreturn {\n  ...jobData,\n  processing_status: 'FAILED',\n  failure_reason: `URL ${jobData.url_status}: ${jobData.url_check_error}`,\n  retry_count: currentAttempt + 1,\n  max_retries_reached: currentAttempt >= maxRetries,\n  logged_at: new Date().toISOString(),\n  \n  // Дані для Google Sheets логування\n  log_entry: {\n    company: jobData.company,\n    title: jobData.title,\n    url: jobData.start_url,\n    failure_reason: jobData.url_check_error,\n    status: jobData.url_status,\n    user_name: jobData.user_name,\n    failed_at: new Date().toISOString()\n  }\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[9904,992],"id":"fa147563-cdeb-4989-a9e6-45d191d4173a","name":"Log Failed URLs"},{"parameters":{"url":"={{ $json.start_url }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (compatible; JobBot/1.0)"}]},"options":{"redirect":{"redirect":{"maxRedirects":3}},"timeout":15000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[9200,880],"id":"ff3ce3f5-64b1-45df-94f9-b4f8e6e2942b","name":"URL Validator (HTTP)","onError":"continueRegularOutput"},{"parameters":{"functionCode":"// ТИМЧАСОВО ВІДКЛЮЧАЄМО URL ВАЛІДАЦІЮ ДЛЯ ТЕСТУ\nconst response = $input.first();\nconst jobData = $('Prepare Real Job Application').first().json;\n\nconsole.log('=== URL VALIDATION BYPASSED FOR TESTING ===');\nconsole.log('Company:', jobData.company);\nconsole.log('URL:', jobData.start_url);\nconsole.log('FORCING ACCESSIBLE STATUS');\n\n// ТИМЧАСОВО: завжди пропускаємо\nreturn {\n  ...jobData,\n  url_status: 'ACCESSIBLE',\n  should_skip: false,  // ← ЗАВЖДИ FALSE!\n  response_status: 200,\n  url_check_error: null,\n  is_spa: false,\n  bypass_validation: true\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[9408,896],"id":"7222affd-3697-401c-9717-8409b36e84bd","name":"Process URL Response"},{"parameters":{"functionCode":"// РОЗШИРЕНИЙ PAGE TYPE DETECTOR - ПОВНИЙ АНАЛІЗ СТОРІНКИ\nconst pageData = $input.first().json;\n\nconsole.log('=== ENHANCED PAGE ANALYZER ===');\n\n// ВИТЯГУЄМО HTML З РІЗНИХ ДЖЕРЕЛ (SKYVERN 2.0 ФОРМАТИ)\nlet exactHTML = '';\ntry {\n  exactHTML = pageData.extracted_information?.html_content || \n              pageData.extracted_information?.html || \n              pageData.page_analysis?.html_content || \n              pageData.page_analysis?.html || '';\n} catch (e) {\n  console.error('Error extracting HTML:', e);\n}\n\nconsole.log('HTML length:', exactHTML.length);\n\n// ФУНКЦІЯ ВИТЯГУВАННЯ ВСІХ ІНТЕРАКТИВНИХ ЕЛЕМЕНТІВ\nfunction extractInteractiveElements(html) {\n  const elements = [];\n  \n  // Регулярні вирази для пошуку елементів\n  const patterns = [\n    // Кнопки\n    /<button[^>]*>([^<]*)<\\/button>/gi,\n    // Лінки з role=\"button\" \n    /<a[^>]*role=\"button\"[^>]*>([^<]*)<\\/a>/gi,\n    // Звичайні лінки\n    /<a[^>]*href=\"[^\"]*\"[^>]*>([^<]*)<\\/a>/gi,\n    // Поля вводу\n    /<input[^>]*>/gi,\n    // Селекти\n    /<select[^>]*>.*?<\\/select>/gi,\n    // Текстові поля\n    /<textarea[^>]*>.*?<\\/textarea>/gi\n  ];\n  \n  patterns.forEach((pattern, index) => {\n    let matches;\n    while ((matches = pattern.exec(html)) !== null) {\n      // Витягуємо атрибути\n      const fullTag = matches[0];\n      const text = matches[1] || '';\n      \n      // Витягуємо ID, class, name\n      const idMatch = fullTag.match(/id=\"([^\"]*)\"/);\n      const classMatch = fullTag.match(/class=\"([^\"]*)\"/);\n      const nameMatch = fullTag.match(/name=\"([^\"]*)\"/);\n      const typeMatch = fullTag.match(/type=\"([^\"]*)\"/);\n      \n      elements.push({\n        type: getElementType(fullTag),\n        text: text.trim(),\n        id: idMatch ? idMatch[1] : null,\n        class: classMatch ? classMatch[1] : null,\n        name: nameMatch ? nameMatch[1] : null,\n        input_type: typeMatch ? typeMatch[1] : null,\n        selector: generateSelector(fullTag, text.trim()),\n        full_tag: fullTag.slice(0, 200) // Перші 200 символів\n      });\n    }\n  });\n  \n  return elements;\n}\n\n// ДОПОМІЖНІ ФУНКЦІЇ\nfunction getElementType(tag) {\n  if (tag.includes('<button')) return 'button';\n  if (tag.includes('<a')) return 'link';\n  if (tag.includes('<input')) return 'input';\n  if (tag.includes('<select')) return 'select';\n  if (tag.includes('<textarea')) return 'textarea';\n  return 'unknown';\n}\n\nfunction generateSelector(tag, text) {\n  // Пріоритет селекторів\n  const idMatch = tag.match(/id=\"([^\"]*)\"/);\n  const classMatch = tag.match(/class=\"([^\"]*)\"/);\n  const hrefMatch = tag.match(/href=\"([^\"]*)\"/);\n  \n  if (idMatch) return `#${idMatch[1]}`;\n  if (hrefMatch && hrefMatch[1].includes('applyManually')) {\n    return `a[href*=\"applyManually\"]`;\n  }\n  if (classMatch) {\n    const firstClass = classMatch[1].split(' ')[0];\n    return `.${firstClass}`;\n  }\n  return `a:contains(\"${text}\")`;  // Fallback\n}\n\n// АНАЛІЗУЄМО СТОРІНКУ\nconst interactiveElements = extractInteractiveElements(exactHTML);\nconsole.log('Found interactive elements:', interactiveElements.length);\n\n// ВИЗНАЧАЄМО ТИП СТОРІНКИ НА ОСНОВІ ЕЛЕМЕНТІВ\nlet pageType = 'unknown';\nlet specificPrompt = '';\nlet nextAction = '';\n\n// ЛОГІКА ВИЗНАЧЕННЯ ТИПУ СТОРІНКИ\nif (exactHTML.includes('Accept Cookies') || exactHTML.includes('cookie consent')) {\n  pageType = 'cookie_consent';\n  const cookieButton = interactiveElements.find(el => \n    el.text.toLowerCase().includes('accept') && \n    el.text.toLowerCase().includes('cookie')\n  );\n  specificPrompt = 'Click Accept Cookies button first';\n  nextAction = cookieButton ? cookieButton.selector : 'button:contains(\"Accept\")';\n  \n} else if (exactHTML.includes('Apply Manually') || exactHTML.includes('Start Your Application')) {\n  pageType = 'application_start';\n  const applyButton = interactiveElements.find(el => \n    el.text.toLowerCase().includes('apply manually')\n  );\n  specificPrompt = 'Click Apply Manually button to proceed to form';\n  nextAction = applyButton ? applyButton.selector : 'a:contains(\"Apply Manually\")';\n  \n} else if (exactHTML.includes('First Name') || exactHTML.includes('Email') || exactHTML.includes('<input')) {\n  pageType = 'form_filling';\n  specificPrompt = 'Fill form fields with user data';\n  nextAction = 'input[name=\"firstName\"], input[placeholder*=\"First\"]';\n  \n} else if (exactHTML.includes('Submit') || exactHTML.includes('Next')) {\n  pageType = 'form_submission';\n  specificPrompt = 'Submit completed form';\n  nextAction = 'button:contains(\"Submit\"), button:contains(\"Next\")';\n}\n\nconsole.log('Detected page type:', pageType);\nconsole.log('Interactive elements sample:', interactiveElements.slice(0, 3));\n\nreturn {\n  ...pageData,\n  detected_page_type: pageType,\n  specific_prompt: specificPrompt,\n  next_action_selector: nextAction,\n  exact_html: exactHTML,\n  interactive_elements: interactiveElements,\n  page_analysis: {\n    total_buttons: interactiveElements.filter(el => el.type === 'button').length,\n    total_links: interactiveElements.filter(el => el.type === 'link').length,\n    total_inputs: interactiveElements.filter(el => el.type === 'input').length,\n    has_forms: exactHTML.includes('<form') || exactHTML.includes('input'),\n    screenshot_url: pageData.screenshot_url\n  },\n  user_profile: {\n    firstName: \"Vitalii\",\n    lastName: \"Berbeha\", \n    email: \"vitalii.berbeha@email.com\",\n    phone: \"+47 925 64 334\",\n    country: \"Norway\"\n  }\n  \n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[8272,2064],"id":"c17c468f-590c-4efc-b094-4fc043552ca6","name":"Page Type Detector"},{"parameters":{"functionCode":"// LOOP CONTROLLER - ВИПРАВЛЕНИЙ\nconst actionResult = $input.first().json;\n\nconsole.log('=== LOOP CONTROLLER FIXED ===');\n\n// ЛІЧИЛЬНИК ІТЕРАЦІЙ - ВИПРАВЛЕНИЙ\nlet currentIteration = 0;\ntry {\n  // Рахуємо кількість виконань цієї ноди\n  const loopData = $('Loop Controller').all();\n  currentIteration = loopData ? loopData.length : 0;\n} catch (e) {\n  console.log('Cannot count iterations, using 0');\n  currentIteration = 0;\n}\n\nconst maxIterations = 10;\n\nconsole.log(`📊 Iteration: ${currentIteration}/${maxIterations}`);\n\n// АНАЛІЗУЄМО СТАТУС ЗАВЕРШЕННЯ\nlet shouldContinue = true;\nlet stopReason = '';\n\n// УМОВИ ЗУПИНКИ:\nif (currentIteration >= maxIterations) {\n  shouldContinue = false;\n  stopReason = 'Max iterations reached';\n}\nelse if (actionResult.step_complete === true) {\n  shouldContinue = false;\n  stopReason = 'AI reported completion';\n}\nelse if (actionResult.error) {\n  shouldContinue = false;\n  stopReason = `Error: ${actionResult.error}`;\n}\n\nconsole.log(`🎯 Decision: ${shouldContinue ? 'CONTINUE' : 'STOP'}`);\nconsole.log(`📝 Reason: ${stopReason || 'More steps needed'}`);\n\nreturn {\n  should_continue: shouldContinue,\n  current_url: actionResult.request?.url,  // ← ВИПРАВЛЕНО\n  stop_reason: stopReason,\n  iteration_count: currentIteration + 1,\n  max_iterations: maxIterations,\n  progress: `${currentIteration}/${maxIterations}`\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[9312,2480],"id":"351ca9b4-10c6-4594-b6f8-95a7f0d443f0","name":"Loop Controller"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":1},"conditions":[{"id":"should_continue","leftValue":"={{ $json.should_continue }}","rightValue":"=true","operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{"looseTypeValidation":true}},"id":"7cb5bf63-8113-4f6a-841d-b55758534ef3","name":"Check Should Continue Loop","type":"n8n-nodes-base.if","typeVersion":2,"position":[9632,2640]},{"parameters":{"functionCode":"// PLATFORM CONFIGURATION MANAGER\nconst inputUrl = $json.job_url || $json.finn_job_url || '';\n\nconsole.log('=== PLATFORM DETECTION ===');\nconsole.log('Input URL:', inputUrl);\n\n// Конфігурації платформ\nconst platformConfigs = {\n  'finn.no': {\n    name: 'Finn.no',\n    login_required: true,\n    login_endpoint: 'https://www.finn.no/login',\n    auth_type: 'email_password',\n    credential_name: 'finn_credentials',\n    template_type: 'finn_standard',\n    supported_features: ['cv_upload', 'cover_letter', 'quick_apply'],\n    selectors: {\n      login_form: '#loginForm',\n      apply_button: '.apply-button'\n    }\n  },\n  \n  'nav.no': {\n    name: 'NAV.no',\n    login_required: true,\n    login_endpoint: 'https://www.nav.no/person/innlogging',\n    auth_type: 'bankid',\n    credential_name: 'nav_bankid',\n    template_type: 'nav_government',\n    supported_features: ['bankid_auth', 'government_forms'],\n    selectors: {\n      bankid_button: '#bankid-login'\n    }\n  },\n  \n  'workdayjobs.com': {\n    name: 'Workday',\n    login_required: false,\n    auth_type: 'guest',\n    template_type: 'workday_generic',\n    supported_features: ['multi_step_forms', 'document_upload'],\n    selectors: {\n      apply_manually: 'a:contains(\"Apply Manually\")'\n    }\n  },\n  \n  'default': {\n    name: 'Unknown Platform',\n    login_required: false,\n    auth_type: 'vision_only',\n    template_type: 'vision_fallback',\n    supported_features: ['vision_analysis'],\n    selectors: {}\n  }\n};\n\n// Визначення платформи з URL\nfunction detectPlatform(url) {\n  for (const [key, config] of Object.entries(platformConfigs)) {\n    if (key !== 'default' && url.includes(key)) {\n      console.log(`✅ Platform detected: ${config.name}`);\n      return { platform: key, config: config };\n    }\n  }\n  \n  console.log('⚠️ Unknown platform, using default config');\n  return { platform: 'default', config: platformConfigs.default };\n}\n\n// Виявлення платформи\nconst detectedPlatform = detectPlatform(inputUrl);\n\n// Додаємо metadata про користувача\nconst result = {\n  // Оригінальні дані\n  job_url: inputUrl,\n  user_name: $json.user_name || 'Vitalii Berbeha',\n  \n  // Конфігурація платформи\n  platform: detectedPlatform.platform,\n  platform_config: detectedPlatform.config,\n  \n  // Прапори для логіки workflow\n  needs_login: detectedPlatform.config.login_required,\n  auth_type: detectedPlatform.config.auth_type,\n  template_type: detectedPlatform.config.template_type,\n  \n  // Метадані для логування\n  detected_at: new Date().toISOString(),\n  workflow_mode: 'template_first'\n};\n\nconsole.log(`🎯 Platform: ${result.platform}`);\nconsole.log(`🔐 Auth required: ${result.needs_login}`);\nconsole.log(`📋 Template: ${result.template_type}`);\n\nreturn result;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[6912,992],"id":"34e67b39-bd20-4ba6-bc2c-b9b7f5e0328f","name":"Platform Configuration Manager"},{"parameters":{"functionCode":"// PLATFORM CONFIGURATION MANAGER - ВИПРАВЛЕНИЙ\nconst inputUrl = $json.job_url || '';\n\nconsole.log('=== PLATFORM DETECTION ===');\nconsole.log('Input URL:', inputUrl);\n\n// Конфігурації платформ\nconst platformConfigs = {\n  'finn.no': {\n    name: 'Finn.no',\n    login_required: true,\n    login_endpoint: 'https://www.finn.no/auth/login',\n    auth_type: 'email_password',\n    credential_name: 'finn_credentials',\n    template_type: 'finn_standard',\n    supported_features: ['cv_upload', 'cover_letter', 'quick_apply'],\n    selectors: {\n      login_form: '#loginForm',\n      apply_button: '.apply-button'\n    }\n  },\n  \n  'nav.no': {\n    name: 'NAV.no',\n    login_required: true,\n    login_endpoint: 'https://aktivitetsplan.nav.no/aktivitet/ny/stilling',\n    auth_type: 'bankid',\n    credential_name: 'nav_bankid',\n    template_type: 'nav_government',\n    supported_features: ['bankid_auth', 'government_forms'],\n    selectors: {\n      bankid_button: 'a:has-text(\"BankID\")'\n    }\n  },\n  \n  'workdayjobs.com': {\n    name: 'Workday',\n    login_required: false,\n    auth_type: 'guest',\n    template_type: 'workday_generic',\n    supported_features: ['multi_step_forms', 'document_upload'],\n    selectors: {\n      apply_manually: 'a:contains(\"Apply Manually\")'\n    }\n  },\n  \n  'default': {\n    name: 'Unknown Platform',\n    login_required: false,\n    auth_type: 'vision_only',\n    template_type: 'vision_fallback',\n    supported_features: ['vision_analysis'],\n    selectors: {}\n  }\n};\n\n// Визначення платформи з URL\nfunction detectPlatform(url) {\n  for (const [key, config] of Object.entries(platformConfigs)) {\n    if (key !== 'default' && url.includes(key)) {\n      console.log(`Platform detected: ${config.name}`);\n      return { platform: key, config: config };\n    }\n  }\n  \n  console.log('Unknown platform, using default config');\n  return { platform: 'default', config: platformConfigs.default };\n}\n\n// Виявлення платформи\nconst detectedPlatform = detectPlatform(inputUrl);\n\n// Результат\nconst result = {\n  // Оригінальні дані\n  job_url: inputUrl,\n  user_name: $json.user_name,\n  priority: $json.priority,\n  test_mode: $json.test_mode,\n  \n  // Конфігурація платформи\n  platform: detectedPlatform.platform,\n  platform_config: detectedPlatform.config,\n  \n  // Прапори для логіки workflow\n  needs_login: detectedPlatform.config.login_required,\n  auth_type: detectedPlatform.config.auth_type,\n  template_type: detectedPlatform.config.template_type,\n  \n  // Метадані\n  detected_at: new Date().toISOString(),\n  workflow_mode: 'template_first'\n};\n\nconsole.log(`Platform: ${result.platform}`);\nconsole.log(`Auth required: ${result.needs_login}`);\nconsole.log(`Template: ${result.template_type}`);\n\nreturn result;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[12672,1296],"id":"05006814-98c0-4e2a-beb1-369c49f2b0ce","name":"Platform Configuration Manager2"},{"parameters":{"functionCode":"// PARSE WEBHOOK INPUT DATA\nconst webhookData = $json;\n\nconsole.log('=== WEBHOOK INPUT ===');\nconsole.log('Received data:', JSON.stringify(webhookData, null, 2));\n\n// Якщо дані прийшли як query parameters\nconst queryParams = webhookData.query || {};\n// Якщо дані прийшли як body\nconst bodyData = webhookData.body || webhookData;\n\n// Формуємо стандартизований об'єкт\nconst jobData = {\n  job_url: queryParams.job_url || bodyData.job_url || 'https://www.finn.no/job/fulltime/default',\n  user_name: queryParams.user_name || bodyData.user_name || 'Vitalii Berbeha',\n  priority: queryParams.priority || bodyData.priority || 'Normal',\n  test_mode: queryParams.test_mode || bodyData.test_mode || false,\n  \n  // Метадані\n  received_at: new Date().toISOString(),\n  webhook_source: 'manual_input'\n};\n\nconsole.log('Parsed job data:', jobData);\n\nreturn jobData;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[12320,1296],"id":"c7c34bd9-627c-447f-8008-31ad4257a471","name":"Parse Webhook Input"},{"parameters":{"functionCode":"// UNIVERSAL LOGIN HANDLER\nconst platformData = $json;\n\nconsole.log('=== UNIVERSAL LOGIN HANDLER ===');\nconsole.log('Platform:', platformData.platform);\nconsole.log('Auth type:', platformData.auth_type);\nconsole.log('Login required:', platformData.needs_login);\n\n// Якщо логін не потрібен - пропускаємо\nif (!platformData.needs_login) {\n  console.log('No login required, skipping auth');\n  return {\n    ...platformData,\n    login_status: 'skipped',\n    auth_completed: true,\n    session_data: null\n  };\n}\n\n// Обробляємо різні типи авторизації\nswitch(platformData.auth_type) {\n  case 'email_password':\n    return handleEmailPasswordAuth(platformData);\n    \n  case 'bankid':\n    return handleBankIdAuth(platformData);\n    \n  case 'oauth':\n    return handleOAuthAuth(platformData);\n    \n  case 'guest':\n    return handleGuestMode(platformData);\n    \n  default:\n    return handleVisionOnly(platformData);\n}\n\n// FINN.NO EMAIL/PASSWORD AUTH\nfunction handleEmailPasswordAuth(data) {\n  console.log('Preparing email/password auth for', data.platform_config.name);\n  \n  return {\n    ...data,\n    login_method: 'email_password',\n    login_payload: {\n      url: data.platform_config.login_endpoint,\n      method: 'POST',\n      fields: {\n        email: '{{ $credentials.finn_credentials.email }}',\n        password: '{{ $credentials.finn_credentials.password }}'\n      },\n      success_indicators: [\n        'url_contains:/my-profile',\n        'element_present:.user-menu',\n        'cookie_present:session'\n      ]\n    },\n    next_step: 'execute_login'\n  };\n}\n\n// NAV.NO BANKID AUTH  \nfunction handleBankIdAuth(data) {\n  console.log('Preparing BankID auth for', data.platform_config.name);\n  \n  return {\n    ...data,\n    login_method: 'bankid',\n    login_payload: {\n      url: data.platform_config.login_endpoint,\n      method: 'CLICK',\n      selector: data.platform_config.selectors.bankid_button,\n      wait_for_redirect: true,\n      manual_intervention: true // Потребує ручного втручання\n    },\n    next_step: 'manual_bankid'\n  };\n}\n\n// GUEST MODE (NO AUTH)\nfunction handleGuestMode(data) {\n  console.log('Guest mode - no authentication needed');\n  \n  return {\n    ...data,\n    login_status: 'guest_mode',\n    auth_completed: true,\n    session_data: { mode: 'guest' },\n    next_step: 'load_profile'\n  };\n}\n\n// VISION-ONLY FALLBACK\nfunction handleVisionOnly(data) {\n  console.log('Unknown auth type, using vision-only approach');\n  \n  return {\n    ...data,\n    login_method: 'vision_analysis',\n    auth_completed: false,\n    next_step: 'vision_login_analysis'\n  };\n}"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[12960,1312],"id":"a093af1c-4276-4a0b-8517-b82f29899caf","name":"Universal Login Handler"},{"parameters":{"functionCode":"// TEMPLATE MANAGER - З BANK ID ІНТЕГРАЦІЄЮ\nconst loginData = $json;\n\nconst templates = {\n  'finn_standard': {\n    name: 'Finn.no with Bank ID Auth',\n    steps: [\n      {\n        step: 'navigate_to_job',\n        action: 'navigate',\n        url: '{{ job_url }}',\n        wait_for: '.job-details'\n      },\n      {\n        step: 'click_enkel_soknad',\n        action: 'click',\n        selector: 'a[href*=\"apply\"]',\n        target_text: 'Enkel søknad',\n        description: 'Click Enkel søknad - may trigger Bank ID auth'\n      },\n      {\n        step: 'handle_bankid_auth',\n        action: 'bankid_login',\n        description: 'Complete Bank ID authentication if required',\n        conditional: true, // Виконується тільки якщо потрібна авторизація\n        auth_methods: ['app', 'sms', 'kodebrikke']\n      },\n      {\n        step: 'fill_application_form',\n        action: 'fill_form', \n        url: 'https://www.finn.no/job/apply?adId={{ job_id }}',\n        fields: {\n          'message': '{{ user_profile.cover_letter }}',\n          'phone': '{{ user_profile.phone }}'\n        }\n      },\n      {\n        step: 'upload_cv',\n        action: 'upload_file',\n        selector: 'input[type=\"file\"]',\n        file_path: '{{ user_profile.cv_path }}'\n      },\n      {\n        step: 'submit_application', \n        action: 'click',\n        selector: 'button[type=\"submit\"]',\n        wait_for: '.success-message'\n      }\n    ]\n  }\n};\n\n// Витягуємо job ID з URL\nconst jobId = loginData.job_url.match(/\\/(\\d+)$/)?.[1];\n\nconst result = {\n  ...loginData,\n  template: templates[loginData.template_type],\n  job_id: jobId,\n  template_loaded: true,\n  execution_context: {\n    current_step: 0,\n    total_steps: templates[loginData.template_type].steps.length,\n    template_mode: true,\n    supports_bankid: true\n  }\n};\n\nreturn result;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[13568,1312],"id":"dc6fe443-d4a9-48b6-b97b-0994f18a2a63","name":"Template Manager"},{"parameters":{"resource":"fileFolder","searchMethod":"query","returnAll":true,"filter":{"folderId":{"__rl":true,"value":"18ZOPN_yWfeNKSdbmuDI7Vu-tiZX67_x5","mode":"id"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[13856,1312],"id":"ae465b13-4fee-4f51-b036-c31fd6285db9","name":"Profile Loader","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{"functionCode":"// PROFILE PARSER - ОБРОБКА ЗАВАНТАЖЕНИХ ПРОФІЛІВ\nconst profileFiles = $input.all();\nconst targetUser = $('Template Manager').first().json.user_name;\n\nconsole.log('=== PROFILE PARSER ===');\nconsole.log('Target user:', targetUser);\nconsole.log('Found files:', profileFiles.length);\n\nlet userProfile = null;\n\n// Пошук та парсинг профілю користувача\nfor (const file of profileFiles) {\n  try {\n    const fileName = file.json.name;\n    console.log('Processing file:', fileName);\n    \n    // Перевіряємо чи файл містить ім'я користувача\n    if (fileName.toLowerCase().includes(targetUser.toLowerCase().split(' ')[0])) {\n      console.log('Found matching profile file:', fileName);\n      \n      // Тут буде завантаження вмісту файлу через Google Drive API\n      userProfile = {\n        file_id: file.json.id,\n        file_name: fileName,\n        user_name: targetUser,\n        profile_found: true,\n        needs_download: true\n      };\n      break;\n    }\n  } catch (error) {\n    console.error('Error processing file:', error.message);\n  }\n}\n\nif (!userProfile) {\n  throw new Error(`Profile not found for user: ${targetUser}`);\n}\n\n// Повертаємо дані для наступного кроку\nconst result = {\n  ...$('Template Manager').first().json,\n  user_profile_meta: userProfile,\n  next_step: 'download_profile_content'\n};\n\nconsole.log('Profile metadata prepared:', userProfile.file_name);\nreturn result;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[12352,1568],"id":"d9590862-54dd-4ab9-a8cb-604de3bd7887","name":"Profile Parser"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.user_profile_meta.file_id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[12608,1552],"id":"a8f3e9dc-3ee1-40d2-a89c-6d4bec1f43ff","name":"Download Profile Content","credentials":{"googleDriveOAuth2Api":{"id":"RSpr5yBWDXpQ2UmD","name":"Google Drive account"}}},{"parameters":{"functionCode":"// PARSE PROFILE DATA - РОЗБІР ЗАВАНТАЖЕНОГО ПРОФІЛЮ\nconst downloadResult = $input.first();\nconst templateData = $('Template Manager').first().json;\n\nconsole.log('=== PARSE PROFILE DATA ===');\n\nlet profileData = {};\n\ntry {\n  // Витягуємо дані з binary або json\n  if (downloadResult.binary && Object.keys(downloadResult.binary).length > 0) {\n    const binaryKey = Object.keys(downloadResult.binary)[0];\n    const content = Buffer.from(downloadResult.binary[binaryKey].data, 'base64').toString('utf8');\n    profileData = JSON.parse(content);\n  } else if (typeof downloadResult.json === 'string') {\n    profileData = JSON.parse(downloadResult.json);\n  } else {\n    profileData = downloadResult.json;\n  }\n\n  console.log('Profile parsed successfully');\n} catch (error) {\n  console.error('Error parsing profile:', error.message);\n  throw new Error(`Failed to parse profile: ${error.message}`);\n}\n\n// Формуємо структурований профіль користувача\nconst userProfile = {\n  // Основна інформація\n  name: profileData.personalInfo?.fullName || templateData.user_name,\n  first_name: profileData.personalInfo?.fullName?.split(' ')[0] || 'Vitalii',\n  last_name: profileData.personalInfo?.fullName?.split(' ').slice(1).join(' ') || 'Berbeha',\n  email: profileData.personalInfo?.email || 'vitalii.berbeha@email.com',\n  phone: profileData.personalInfo?.phone || '+47 925 64 334',\n  address: profileData.personalInfo?.address || 'Oslo, Norway',\n  \n  // Професійна інформація\n  current_role: profileData.careerStats?.currentRole || 'Software Developer',\n  experience_years: profileData.careerStats?.totalExperienceYears || 5,\n  \n  // Cover letter та CV\n  cover_letter: profileData.professionalSummary || 'I am interested in this position and believe my skills would be a great fit.',\n  cv_path: '/data/resumes/' + templateData.user_name.replace(' ', '_').toLowerCase() + '_cv.pdf',\n  resume_path: '/data/resumes/' + templateData.user_name.replace(' ', '_').toLowerCase() + '_cv.pdf',\n  \n  // Навички\n  technical_skills: profileData.technicalSkills || {},\n  languages: profileData.languages || ['Norwegian', 'English'],\n  \n  // Метадані\n  profile_loaded: true,\n  profile_source: 'google_drive'\n};\n\nconsole.log('User profile prepared for:', userProfile.name);\nconsole.log('Email:', userProfile.email);\nconsole.log('Phone:', userProfile.phone);\n\n// Підготовка до виконання шаблону\nconst result = {\n  ...templateData,\n  user_profile: userProfile,\n  profile_ready: true,\n  next_step: 'execute_template'\n};\n\nreturn result;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[12880,1568],"id":"32ab7edf-c3de-4a8f-b22e-1e4dc56fcf67","name":"Parse Profile Data"},{"parameters":{"functionCode":"// TEMPLATE EXECUTOR З ПОВНИМИ BANKID ДАНИМИ\nconst profileData = $input.first().json;\nconst currentStepIndex = profileData.execution_context?.current_step || 0;\nconst currentStep = profileData.template?.steps?.[currentStepIndex];\n\nconsole.log('=== TEMPLATE EXECUTOR WITH FULL CREDENTIALS ===');\nconsole.log('Job URL:', profileData.job_url);\nconsole.log('User:', profileData.user_profile?.name);\nconsole.log('Has credentials:', !!profileData.credentials);\n\n// Визначення платформи\nconst platform = profileData.job_url.includes('nav.no') ? 'nav' : \n                 profileData.job_url.includes('finn.no') ? 'finn' : 'generic';\n\n// Витягуємо креденшели з попередніх нод або використовуємо дефолтні\nconst fnr = profileData.credentials?.fnr || profileData.bankid_credentials?.fnr || '11057912342';\nconst bankidPassword = profileData.credentials?.bankid_password || profileData.bankid_credentials?.bankid_password || 'QWEpoi123987';\nconst email = profileData.credentials?.email || 'stuardaukro@gmail.com';\nconst emailPassword = profileData.credentials?.password || 'QWEpoi123987@';\n\nlet skyvernPayload = {};\n\nif (platform === 'nav') {\n  skyvernPayload = {\n    prompt: `Complete NAV.no job application with BankID authentication:\n    \n    STEP 1: Click BankID button to start authentication\n    \n    STEP 2 - CRITICAL: When you see fødselsnummer input field:\n    - Type EXACTLY this number: ${fnr}\n    - Make sure all 11 digits are entered: 11057912342\n    - Click \"Fortsett\" button after entering\n    \n    STEP 3: Select \"BankID på mobil\" if options appear\n    - System sends push to phone\n    - Wait 30 seconds for user to confirm\n    \n    STEP 4: After phone confirmation:\n    - Password field will appear\n    - Enter password: ${bankidPassword}\n    - Click \"Logg inn\" button\n    \n    STEP 5: Fill application form:\n    - Message: \"${profileData.user_profile?.cover_letter || 'I am interested in this position'}\"\n    - Submit application\n    - Wait for \"søknad sendt\" confirmation\n    \n    IMPORTANT: The fødselsnummer is ${fnr} and password is ${bankidPassword}`,\n    \n    url: profileData.job_url,\n    engine: \"skyvern-1.0\",\n    wait_for_completion: true,\n    proxy_location: \"NONE\",\n    capture_screenshots: true,\n    max_steps_per_run: 40,\n    timeout_minutes: 10\n  };\n  \n} else if (platform === 'finn') {\n  skyvernPayload = {\n    prompt: `Apply for Finn.no job with these exact credentials:\n    \n    PRIMARY METHOD - Email/Password:\n    1) Click \"Søk på jobben\" or \"Enkel søknad\"\n    2) If login form appears:\n       - Email field: ${email}\n       - Password field: ${emailPassword}\n       - Click login button\n    \n    BACKUP METHOD - If BankID required:\n    1) Click \"Logg inn med BankID\"\n    2) Enter fødselsnummer: ${fnr}\n    3) Click \"Fortsett\"\n    4) Wait for phone confirmation\n    5) Enter password: ${bankidPassword}\n    6) Click login\n    \n    APPLICATION FORM:\n    - Message: \"${profileData.user_profile?.cover_letter || 'I am interested in this position'}\"\n    - Phone: \"${profileData.user_profile?.phone || '+47 925 64 334'}\"\n    - Upload CV if possible\n    - Submit and wait for \"takk for søknaden\"\n    \n    Credentials summary:\n    - Email: ${email}\n    - Password: ${emailPassword}\n    - FNR if needed: ${fnr}\n    - BankID password: ${bankidPassword}`,\n    \n    url: profileData.job_url,\n    engine: \"skyvern-1.0\",\n    wait_for_completion: true,\n    proxy_location: \"NONE\",\n    capture_screenshots: true,\n    max_steps_per_run: 35\n  };\n  \n} else {\n  skyvernPayload = {\n    prompt: `Apply for job with these credentials:\n    - Email: ${email}\n    - Password: ${emailPassword}\n    - If BankID: fødselsnummer ${fnr}, password ${bankidPassword}\n    - Message: \"${profileData.user_profile?.cover_letter || 'I am interested in this position'}\"\n    - Phone: \"${profileData.user_profile?.phone || '+47 925 64 334'}\"\n    Submit application.`,\n    \n    url: profileData.job_url,\n    engine: \"skyvern-1.0\",\n    wait_for_completion: true,\n    proxy_location: \"NONE\",\n    capture_screenshots: true,\n    max_steps_per_run: 30\n  };\n}\n\nconst result = {\n  ...profileData,\n  skyvern_payload: skyvernPayload,\n  execution_status: 'ready_for_skyvern',\n  step_description: `Auth ready for ${platform}`,\n  auth_credentials: {\n    fnr: fnr,\n    password: bankidPassword,\n    email: email,\n    email_password: emailPassword\n  },\n  bankid_enabled: true\n};\n\nconsole.log('Payload prepared with all credentials');\nconsole.log('FNR in prompt:', skyvernPayload.prompt.includes(fnr));\nconsole.log('Password in prompt:', skyvernPayload.prompt.includes(bankidPassword));\n\nreturn result;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[13168,1568],"id":"c16a0dd5-afcb-4e1f-88be-8bc37a6dea70","name":"Template Executor"},{"parameters":{"method":"POST","url":"http://skyvern-skyvern-1:8000/v1/run/tasks","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjQ4OTg0ODcwNDQsInN1YiI6Im9fNDIwMjM2MTExNjIyNTY1NTc0In0.aLM20qKy1DZnwWPiVmex4PeehYVJaxUdS7oVOuvA2DQ"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.skyvern_payload) }}","options":{"timeout":300000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[12368,1840],"id":"621db140-502c-4e3c-a4d4-fef7d183cbf9","name":"Skyvern API Call"},{"parameters":{"functionCode":"// NEXT TEMPLATE STEP HANDLER - З ДІАГНОСТИКОЮ\nconst completedStepData = $input.first().json;\n\nconsole.log('=== NEXT TEMPLATE STEP HANDLER DEBUG ===');\nconsole.log('Has template:', !!completedStepData.template);\nconsole.log('Template steps length:', completedStepData.template?.steps?.length);\nconsole.log('Has execution_context:', !!completedStepData.execution_context);\nconsole.log('Current step from execution_context:', completedStepData.execution_context?.current_step);\nconsole.log('All input keys:', Object.keys(completedStepData));\n\n// Визначаємо наступний крок\nconst currentIndex = completedStepData.execution_context?.current_step || 0;\nconst nextIndex = currentIndex + 1;\nconst totalSteps = completedStepData.template?.steps?.length || 0;\n\nconsole.log(`Current: ${currentIndex}, Next: ${nextIndex}, Total: ${totalSteps}`);\n\n// Якщо totalSteps = 0, то є проблема з template\nif (totalSteps === 0) {\n  console.log('ERROR: No template steps found!');\n  return {\n    ...completedStepData,\n    error: 'Template steps missing',\n    final_status: 'ERROR'\n  };\n}\n\n// Підготовка наступного кроку\nconst nextStep = completedStepData.template.steps[nextIndex];\nconsole.log('Next step:', nextStep.step);\n\n// Результат для продовження циклу\nconst result = {\n  ...completedStepData,\n  execution_context: {\n    ...completedStepData.execution_context,\n    current_step: nextIndex,\n    completed_steps: (completedStepData.execution_context?.completed_steps || 0) + 1\n  },\n  current_step_data: nextStep,\n  workflow_status: 'continuing_template',\n  ready_for_next_skyvern_call: true\n};\n\nreturn result;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[13424,1824],"id":"925fe673-53c6-4a97-b50f-4d2f311d8aa0","name":"Next Template Step Handler"},{"parameters":{"functionCode":"// FINAL RESULT HANDLER - БЕЗПЕЧНИЙ\nconst finalData = $input.first().json;\n\nconsole.log('=== FINAL RESULT HANDLER ===');\nconsole.log('Workflow status:', finalData.workflow_status);\n\nif (finalData.all_steps_done) {\n  console.log('Application completed successfully!');\n  return {\n    ...finalData,\n    final_status: 'SUCCESS',\n    completion_message: 'Job application workflow completed',\n    completed_steps: finalData.execution_context?.completed_steps || 0,\n    completion_time: new Date().toISOString()\n  };\n} else {\n  console.log('Application workflow ended');\n  return {\n    ...finalData,\n    final_status: 'INCOMPLETE',\n    completion_message: 'Workflow ended before completion',\n    reason: 'Steps not completed'\n  };\n}"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[12384,2240],"id":"cd62b57b-c5e1-4a64-a72c-dc40489d799e","name":"Final Result Handler"},{"parameters":{"functionCode":"// AUTH METHOD ROUTER - ВИЗНАЧАЄ ТИП АВТЕНТИФІКАЦІЇ З ПОВНИМИ ДАНИМИ\nconst loginData = $input.first().json;\n\nconsole.log('=== AUTH METHOD ROUTER ===');\nconsole.log('Login method:', loginData.login_method);\nconsole.log('Platform:', loginData.platform);\n\nif (loginData.login_method === 'bankid') {\n  // NAV Bank ID flow - З УСІМА НЕОБХІДНИМИ ДАНИМИ\n  return {\n    ...loginData,\n    auth_flow: 'bankid',\n    bankid_credentials: {\n      fnr: '11057912342',  // Ваш fødselsnummer\n      bankid_password: 'QWEpoi123987',  // Пароль після BankID підтвердження\n      auth_url: 'https://aktivitetsplan.nav.no/aktivitet/ny/stilling'\n    },\n    credentials: {\n      fnr: '11057912342',\n      password: 'QWEpoi123987'\n    },\n    next_step: 'prepare_bankid_template'\n  };\n  \n} else if (loginData.login_method === 'email_password') {\n  // Finn.no email/password flow - З УСІМА ДАНИМИ\n  return {\n    ...loginData,\n    auth_flow: 'email_password',\n    credentials: {\n      email: 'stuardaukro@gmail.com',\n      password: 'QWEpoi123987@',\n      fnr: '11057912342',  // На випадок якщо Finn теж попросить BankID\n      bankid_password: 'QWEpoi123987'\n    },\n    next_step: 'prepare_finn_template'\n  };\n  \n} else if (loginData.auth_type === 'guest') {\n  // Guest mode - не потребує авторизації\n  return {\n    ...loginData,\n    auth_flow: 'guest',\n    credentials: null,\n    next_step: 'prepare_guest_template'\n  };\n  \n} else {\n  // Vision fallback - передаємо всі можливі креденшели на всякий випадок\n  return {\n    ...loginData,\n    auth_flow: 'vision_only',\n    credentials: {\n      email: 'stuardaukro@gmail.com',\n      password: 'QWEpoi123987@',\n      fnr: '11057912342',\n      bankid_password: 'QWEpoi123987'\n    },\n    next_step: 'prepare_vision_template'\n  };\n}"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[13216,1312],"id":"7fa87121-720e-4df0-805e-2520da0006fe","name":"Auth Method Router"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"ready_for_next","leftValue":"={{ $json.ready_for_next_skyvern_call }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}},{"id":"not_completed","leftValue":"={{ $json.all_steps_done }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}},{"id":"no_timeout_handled","leftValue":"={{ $json.timeout_handled }}","rightValue":true,"operator":{"type":"boolean","operation":"notEquals"}},{"id":"cycle_limit","leftValue":"={{ ($json.execution_context?.completed_steps || 0) }}","rightValue":8,"operator":{"type":"number","operation":"lt"}},{"id":"retry_limit","leftValue":"={{ ($json.cycle_control?.current_retry || 0) }}","rightValue":3,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"id":"adaf21b2-eb56-4a50-95a4-e422d2a5e426","name":"Should Continue Cycle1","type":"n8n-nodes-base.if","typeVersion":2,"position":[13808,1824]},{"parameters":{"functionCode":"// SIMPLE STATUS CHECK - ВІДНОВЛЕННЯ TEMPLATE ДАНИХ\nconst skyvernResponse = $input.first().json;\nconst originalTemplateData = $('Template Executor').first().json;\n\nconsole.log('=== SIMPLE STATUS CHECK - DATA RECOVERY ===');\nconsole.log('Skyvern response has run_id:', !!skyvernResponse.run_id);\nconsole.log('Original template has steps:', originalTemplateData.template?.steps?.length || 'missing');\n\n// Об'єднуємо Skyvern відповідь з оригінальними template даними\nconst result = {\n  ...originalTemplateData, // Беремо template і execution_context з Template Executor\n  ...skyvernResponse,      // Додаємо Skyvern відповідь\n  step_completed: true,\n  simple_check: true,\n  wait_completed: true,\n  next_action: 'proceed_to_next_step'\n};\n\nconsole.log('Final result has template:', !!result.template);\nconsole.log('Final result steps count:', result.template?.steps?.length || 'missing');\nreturn result;"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[12736,1840],"id":"142ccc53-df7a-469c-a84f-b79dfd30e374","name":"SIMPLE STATUS CHECK"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should_continue","leftValue":"={{ $json.step_completed }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"6a857bb7-935e-4c91-a0b8-a58146a23947","name":"Simple Decision","type":"n8n-nodes-base.if","typeVersion":2,"position":[13120,1840]},{"parameters":{"functionCode":"const skyvernResult = $('Skyvern Screenshot').first().json;\nconst runId = skyvernResult.run_id;\n\nconsole.log('🔍 Checking status for run_id:', runId);\n\nreturn {\n  run_id: runId,\n  attempt: 0  // ПОЧАТКОВЕ ЗНАЧЕННЯ ATTEMPT\n};"},"type":"n8n-nodes-base.function","typeVersion":1,"position":[7280,1952],"id":"df6490ec-5a18-439d-81d7-325eaf32c4ce","name":"Pass Run ID1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":1},"conditions":[{"id":"should_continue","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}},{"id":"2dd22244-4a92-4c9b-b311-93bc5d04e0a6","leftValue":"{{ $json.screenshot_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"id":"6dbf70aa-93ac-4770-9e80-4928aa03d676","name":"Check If Complete1","type":"n8n-nodes-base.if","typeVersion":2,"position":[7744,1952]},{"parameters":{"url":"=http://skyvern-skyvern-1:8000/api/v1/tasks/{{ $json.run_id }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-api-key","value":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjQ4OTg0ODcwNDQsInN1YiI6Im9fNDIwMjM2MTExNjIyNTY1NTc0In0.aLM20qKy1DZnwWPiVmex4PeehYVJaxUdS7oVOuvA2DQ"}]},"options":{"timeout":200000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[7488,1952],"id":"d78410ca-c29e-4c03-b5d5-4de5098b888d","name":"Check Task Status2"}],"connections":{"Manual Trigger":{"main":[[{"node":"Set Scan Config","type":"main","index":0},{"node":"Finn Search","type":"main","index":0}]]},"Set Scan Config":{"main":[[{"node":"Scrape NAV Jobs","type":"main","index":0}]]},"Scrape NAV Jobs":{"main":[[{"node":"Transform NAV Jobs","type":"main","index":0}]]},"Transform NAV Jobs":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Transform Finn Jobs":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Merge Job Results":{"main":[[{"node":"Migrate Jobs to Sheets","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Merge Job Results","type":"main","index":0}],[{"node":"HTTP Request1","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"CODE FINN":{"main":[[{"node":"Accumulate Finn Results","type":"main","index":0}]]},"Finn Search":{"main":[[{"node":"Transform Finn Jobs","type":"main","index":0}]]},"Migrate Jobs to Sheets":{"main":[[{"node":"Insert Jobs to Google Sheets","type":"main","index":0},{"node":"Build Job Index","type":"main","index":0}]]},"Skyvern: Run Task (Full Description)2":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Loop Over Items2":{"main":[[{"node":"Merge Job Results","type":"main","index":1}],[{"node":"Check URL in Sheets","type":"main","index":0}]]},"Extract Job Description":{"main":[[{"node":"CODE FINN","type":"main","index":0}]]},"Accumulate Finn Results":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Pass Run ID","type":"main","index":0}]]},"Check Task Status":{"main":[[{"node":"Check If Complete","type":"main","index":0}]]},"Check If Complete":{"main":[[{"node":"Extract Job Description","type":"main","index":0}],[{"node":"Add Attempt Counter1","type":"main","index":0}]]},"Add Attempt Counter1":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Pass Run ID":{"main":[[{"node":"Check Task Status","type":"main","index":0}]]},"Insert Jobs to Google Sheets":{"main":[[{"node":"Provide Users","type":"main","index":0}]]},"Code2":{"main":[[{"node":"Send Scan Notification","type":"main","index":0},{"node":"Platform Configuration Manager","type":"main","index":0}]]},"URL Already Processed?":{"main":[[{"node":"Use Cached Data","type":"main","index":0}],[{"node":"Skyvern: Run Task (Full Description)2","type":"main","index":0}]]},"Use Cached Data":{"main":[[{"node":"CODE FINN","type":"main","index":0}]]},"URL CACHE DEBUG":{"main":[[{"node":"URL Already Processed?","type":"main","index":0}]]},"Check URL Cache1":{"main":[[{"node":"URL CACHE DEBUG","type":"main","index":0}]]},"Check URL in Sheets":{"main":[[{"node":"Check URL Cache1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Load All Jobs","type":"main","index":0}],[{"node":"Check Profile Exists","type":"main","index":0}]]},"Extract Users Array":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Process All PDFs":{"main":[[{"node":"Download PDF","type":"main","index":0}]]},"Download PDF":{"main":[[{"node":"Extract Text from PDF","type":"main","index":0}]]},"AI Parse Resume":{"main":[[{"node":"Process AI Response","type":"main","index":0}]]},"Collect All User Resumes":{"main":[[{"node":"Prepare Detailed AI Request","type":"main","index":0},{"node":"Store User Metadata","type":"main","index":0}]]},"Extract Text from PDF":{"main":[[{"node":"Collect All User Resumes","type":"main","index":0}]]},"Prepare Detailed AI Request":{"main":[[{"node":"AI Parse Resume","type":"main","index":0}]]},"Process AI Response":{"main":[[{"node":"Prepare JSON for Save","type":"main","index":0},{"node":"Save Profile to Static Data","type":"main","index":0}]]},"Save Profile to Static Data":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Load All Jobs":{"main":[[{"node":"Filter Jobs by Scan Date","type":"main","index":0}]]},"Get Stored Profiles":{"main":[[{"node":"Loop Over Pairs","type":"main","index":0}]]},"Prepare Relevance Analysis":{"main":[[{"node":"AI Analyze Relevance","type":"main","index":0}]]},"Check Profile Exists":{"main":[[{"node":"Profile Decision","type":"main","index":0}]]},"Profile Decision":{"main":[[{"node":"Load Existing Profile","type":"main","index":0}],[{"node":"Pass User Data","type":"main","index":0}]]},"Load Existing Profile":{"main":[[{"node":"Parse Existing Profile","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Prepare JSON for Save":{"main":[[{"node":"Has Existing File?","type":"main","index":0}]]},"Pass User Data":{"main":[[{"node":"HTTP Request Get PDFs from Drive","type":"main","index":0}]]},"AI Analyze Relevance":{"main":[[{"node":"Process Analysis Results","type":"main","index":0}]]},"Process Analysis Results":{"main":[[{"node":"Build Telegram UA Prompt","type":"main","index":0}]]},"Format for Telegram":{"main":[[{"node":"Ensure Chat ID","type":"main","index":0}]]},"Save Results to Sheets":{"main":[[{"node":"Loop Over Pairs","type":"main","index":0}]]},"Loop Over Pairs":{"main":[[],[{"node":"Prepare Relevance Analysis","type":"main","index":0}]]},"Has Existing File?":{"main":[[{"node":"Update Profile on Drive","type":"main","index":0}],[{"node":"Upload Profile to Drive","type":"main","index":0}]]},"Sanitize Relevance":{"main":[[{"node":"Filter High Relevance","type":"main","index":0},{"node":"Prepare Analysis Row","type":"main","index":0}]]},"Prepare Analysis Row":{"main":[[{"node":"Flatten Row for Sheets","type":"main","index":0}]]},"Filter High Relevance":{"main":[[{"node":"Format for Telegram","type":"main","index":0}]]},"Flatten Row for Sheets":{"main":[[{"node":"Save Results to Sheets","type":"main","index":0}]]},"Ensure Chat ID":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"HTTP Request Get PDFs from Drive":{"main":[[{"node":"Process All PDFs","type":"main","index":0}]]},"Provide Users":{"main":[[{"node":"Store User Directory to Static","type":"main","index":0},{"node":"Extract Users Array","type":"main","index":0}]]},"Parse Existing Profile":{"main":[[{"node":"Save Profile to Static Data","type":"main","index":0}]]},"Filter Jobs by Scan Date":{"main":[[{"node":"Get Stored Profiles","type":"main","index":0}]]},"Build Telegram UA Prompt":{"main":[[{"node":"Apply Telegram UA","type":"main","index":0}]]},"Apply Telegram UA":{"main":[[{"node":"Process Telegram UA Response","type":"main","index":0}]]},"Process Telegram UA Response":{"main":[[{"node":"Sanitize Relevance","type":"main","index":0}]]},"Build Job Index":{"main":[[{"node":"Read Analysis Results","type":"main","index":0}]]},"Read Analysis Results":{"main":[[{"node":"Build Analyzed Set","type":"main","index":0}]]},"Build Analyzed Set":{"main":[[{"node":"Code2","type":"main","index":0}]]},"Read Relevant Jobs (Sheets)":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Filter Eligible Jobs":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"Check Task Creation":{"main":[[{"node":"Check Task Status1","type":"main","index":0}]]},"Save Application Record (Sheets)":{"main":[[{"node":"Update Job Status (Sheets)","type":"main","index":0}]]},"Check Task Status1":{"main":[[{"node":"Save Application Record (Sheets)","type":"main","index":0}]]},"Read Jobs Sheet":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Check url","type":"main","index":0}]]},"Check url":{"main":[[{"node":"Filter Eligible Jobs","type":"main","index":0}]]},"Get Profiles":{"main":[[{"node":"Load User Profiles from Drive","type":"main","index":0}]]},"Loop Over Items3":{"main":[[{"node":"Check Task Creation","type":"main","index":0}],[{"node":"Get Profiles","type":"main","index":0}]]},"AI Application Agent1":{"main":[[{"node":"Smart Loop Controller","type":"main","index":0}]]},"Azure OpenAI Model1":{"ai_languageModel":[[{"node":"AI Application Agent1","type":"ai_languageModel","index":0}]]},"Agent Memory1":{"ai_memory":[[{"node":"AI Application Agent1","type":"ai_memory","index":0}]]},"Wait":{"main":[[{"node":"Pass Run ID1","type":"main","index":0}]]},"Load User Profiles from Drive":{"main":[[{"node":"Download Profile Files","type":"main","index":0}]]},"Parse and Match User Profile":{"main":[[{"node":"Prepare Real Job Application","type":"main","index":0}]]},"Prepare Real Job Application":{"main":[[{"node":"URL Validator (HTTP)","type":"main","index":0}]]},"Download Profile Files":{"main":[[{"node":"Parse and Match User Profile","type":"main","index":0}]]},"Action Executor":{"main":[[{"node":"Page Checker","type":"main","index":0}]]},"Page Checker":{"main":[[{"node":"Wait Action","type":"main","index":0}]]},"Smart Loop Controller":{"main":[[{"node":"Action Executor","type":"main","index":0}]]},"Skyvern Screenshot":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Extract Screenshots":{"main":[[{"node":"Page Type Detector","type":"main","index":0}]]},"Wait Action":{"main":[[{"node":"Pass Action ID","type":"main","index":0}]]},"Pass Action ID":{"main":[[{"node":"Check Action Status","type":"main","index":0}]]},"Check Action Status":{"main":[[{"node":"Check Action Complete","type":"main","index":0}]]},"Check Action Complete":{"main":[[{"node":"Loop Controller","type":"main","index":0}],[{"node":"Wait Action","type":"main","index":0}]]},"Check URL Status":{"main":[[{"node":"Skyvern Screenshot","type":"main","index":0}],[{"node":"Log Failed URLs","type":"main","index":0}]]},"Log Failed URLs":{"main":[[{"node":"Loop Over Items3","type":"main","index":0}]]},"URL Validator (HTTP)":{"main":[[{"node":"Process URL Response","type":"main","index":0}]]},"Process URL Response":{"main":[[{"node":"Check URL Status","type":"main","index":0}]]},"Page Type Detector":{"main":[[{"node":"AI Application Agent1","type":"main","index":0}]]},"Loop Controller":{"main":[[{"node":"Check Should Continue Loop","type":"main","index":0}]]},"Check Should Continue Loop":{"main":[[{"node":"Skyvern Screenshot","type":"main","index":0}],[{"node":"Save Session1","type":"main","index":0}]]},"Platform Configuration Manager":{"main":[[{"node":"Read Jobs Sheet","type":"main","index":0},{"node":"Read Relevant Jobs (Sheets)","type":"main","index":0}]]},"Platform Configuration Manager2":{"main":[[{"node":"Universal Login Handler","type":"main","index":0}]]},"Parse Webhook Input":{"main":[[{"node":"Platform Configuration Manager2","type":"main","index":0}]]},"Universal Login Handler":{"main":[[{"node":"Auth Method Router","type":"main","index":0}]]},"Template Manager":{"main":[[{"node":"Profile Loader","type":"main","index":0}]]},"Profile Loader":{"main":[[{"node":"Profile Parser","type":"main","index":0}]]},"Profile Parser":{"main":[[{"node":"Download Profile Content","type":"main","index":0}]]},"Download Profile Content":{"main":[[{"node":"Parse Profile Data","type":"main","index":0}]]},"Parse Profile Data":{"main":[[{"node":"Template Executor","type":"main","index":0}]]},"Template Executor":{"main":[[{"node":"Skyvern API Call","type":"main","index":0}]]},"Skyvern API Call":{"main":[[{"node":"SIMPLE STATUS CHECK","type":"main","index":0}]]},"Next Template Step Handler":{"main":[[{"node":"Should Continue Cycle1","type":"main","index":0}]]},"Auth Method Router":{"main":[[{"node":"Template Manager","type":"main","index":0}]]},"Should Continue Cycle1":{"main":[[{"node":"Skyvern API Call","type":"main","index":0}],[{"node":"Final Result Handler","type":"main","index":0}]]},"SIMPLE STATUS CHECK":{"main":[[{"node":"Simple Decision","type":"main","index":0}]]},"Simple Decision":{"main":[[{"node":"Next Template Step Handler","type":"main","index":0}]]},"Pass Run ID1":{"main":[[{"node":"Check Task Status2","type":"main","index":0}]]},"Check If Complete1":{"main":[[{"node":"Extract Screenshots","type":"main","index":0}],[{"node":"Wait","type":"main","index":0}]]},"Check Task Status2":{"main":[[{"node":"Check If Complete1","type":"main","index":0}]]},"Save Session1":{"main":[[{"node":"Parse Webhook Input","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"965c7fed-140e-405a-9c49-ab164af79956","versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2025-08-15T17:55:46.024Z","createdAt":"2025-08-15T17:55:46.024Z","role":"workflow:owner","workflowId":"xz6TlJ9eQi59PUIe","projectId":"If5VF039W4x9VxhC","project":{"updatedAt":"2025-07-19T22:25:11.836Z","createdAt":"2025-07-19T22:02:46.013Z","id":"If5VF039W4x9VxhC","name":"Vitalii Berbeha <stuardaukro@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"updatedAt":"2025-07-19T22:02:46.018Z","createdAt":"2025-07-19T22:02:46.018Z","userId":"637747ab-19f4-417b-a373-8ecbc00c724f","projectId":"If5VF039W4x9VxhC","user":{"updatedAt":"2025-11-06T07:11:10.000Z","createdAt":"2025-07-19T22:02:44.498Z","id":"637747ab-19f4-417b-a373-8ecbc00c724f","email":"stuardaukro@gmail.com","firstName":"Vitalii","lastName":"Berbeha","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-07-19T22:25:15.195Z","personalization_survey_n8n_version":"1.102.4"},"settings":{"userActivated":false,"easyAIWorkflowOnboarded":true},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-11-06","isPending":false}}]}}],"tags":[]}