workflows/02_job_scanner_fixed.json
{
  "name": "Job Scanner",
  "description": "Сканує вакансії з finn.no та arbeidsplassen.nav.no. Зберігає нові вакансії в базі даних для подальшого аналізу.",
  "version": "1.0",
  "last_updated": "2025-11-08",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook/job-scanner",
        "options": {}
      },
      "id": "scanner_trigger",
      "name": "Scanner Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [300, 300],
      "webhookId": "job-scanner"
    },
    {
      "parameters": {
        "command": "python3 /app/src/scrapers/combined_scraper.py"
      },
      "id": "run_combined_scraper",
      "name": "Run Combined Scraper",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "filePath": "/app/data/latest_jobs.json"
      },
      "id": "read_scraped_jobs",
      "name": "Read Scraped Jobs",
      "type": "n8n-nodes-base.readFile",
      "typeVersion": 1,
      "position": [700, 300]
    },
    {
      "parameters": {
        "functionCode": "const jobsData = JSON.parse($input.first().json.data.toString('utf8'));\nconst timestamp = new Date().toISOString();\n\nconst items = jobsData.map(job => ({\n  json: {\n    title: job.title || 'No title',\n    company: job.company || 'Unknown',\n    description: job.description || '',\n    url: job.url,\n    source: job.source,\n    location: job.location || 'Oslo',\n    posted_date: job.posted_date || timestamp.split('T')[0],\n    scraped_at: timestamp\n  }\n}));\n\nreturn items;"
      },
      "id": "parse_jobs",
      "name": "Parse Jobs Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO jobs (title, company, description, url, source, location, posted_date, scraped_at, is_processed)\nVALUES\n{{ $json.map(item => `('${item.title.replace(/'/g, \"''\")}', '${item.company.replace(/'/g, \"''\")}', '${item.description.replace(/'/g, \"''\")}', '${item.url}', '${item.source}', '${item.location}', '${item.posted_date}', '${item.scraped_at}', false)`).join(',\\n') }}\nON CONFLICT (url) DO NOTHING\nRETURNING id, title, url;",
        "options": {}
      },
      "id": "save_jobs_to_db",
      "name": "Save Jobs to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [1100, 300],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "Skyvern Postgres"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "const newJobs = $input.all();\nconst newJobsCount = newJobs.length;\n\nreturn [{\n  json: {\n    new_jobs_count: newJobsCount,\n    timestamp: new Date().toISOString(),\n    jobs: newJobs.map(item => ({\n      id: item.json.id,\n      title: item.json.title,\n      url: item.json.url\n    }))\n  }\n}];"
      },
      "id": "format_response",
      "name": "Format Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "chatId": "{{ $env.TELEGRAM_CHAT_ID }}",
        "text": "🔍 Job Scanner Complete\\n\\n📊 New jobs found: {{ $json.new_jobs_count }}\\n🕒 Scan time: {{ $json.timestamp }}\\n\\n{{ $json.new_jobs_count > 0 ? '✅ Jobs saved to database' : 'ℹ️ No new jobs found' }}"
      },
      "id": "send_notification",
      "name": "Send Notification",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1500, 300],
      "credentials": {
        "telegramApi": {
          "id": "telegram_bot",
          "name": "JobHunter Bot"
        }
      }
    }
  ],
  "connections": {
    "Scanner Trigger": {
      "main": [
        [
          {
            "node": "Run Combined Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run Combined Scraper": {
      "main": [
        [
          {
            "node": "Read Scraped Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Scraped Jobs": {
      "main": [
        [
          {
            "node": "Parse Jobs Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Jobs Data": {
      "main": [
        [
          {
            "node": "Save Jobs to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Jobs to Database": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-11-08T00:00:00.000Z",
      "updatedAt": "2025-11-08T00:00:00.000Z",
      "id": "jobhunter",
      "name": "jobhunter"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-08T00:00:00.000Z",
  "versionId": "1"
}
